/Dockerfile
/Makefile
/build-aux
/pbs.conf
/missing
/src/buildservice/constants.py
/src/buildservice/__version__.py
/src/systemd/*.service
/tmp
/.vscode
*.py[co]
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.log
*.cache
*.gmo
*.mo
*~
Makefile.in
aclocal.m4
config.log
config.status
configure
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
stamp-*
