[database]
; Credentials to the pakfire build service database.

host  = mysql-master.ipfire.org
user  = pakfire
pass  = pakfire
db    = pakfire

[geoip-database]
; Credentials to the geoip database.

host  = mysql-master.ipfire.org
user  = pakfire
pass  = pakfire
db    = geoip
