<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ hostname }} - {% block title %}{{ _("No title given") }}{% end block %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="IPFire.org - Pakfire Development Team" />

		<!-- styling stuff -->
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.min.css") }}" />
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}" />
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>

	<body>
		<nav class="navbar fixed-top navbar-expand-lg  navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				{{ _("Pakfire Build Service") }}
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/packages">{{ _("Packages") }}</a>
					</li>
					<li class="nav-item">
						  <a class="nav-link" href="/builds">{{ _("Builds") }}</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{ _("More") }}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/search">{{ _("Search") }}</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/distros">{{ _("Distributions") }}</a>
							<a class="dropdown-item" href="/builders">{{ _("Builders") }}</a>
							<a class="dropdown-item" href="/mirrors">{{ _("Mirrors") }}</a>
							<a class="dropdown-item" href="/keys">{{ _("Key Management") }}</a>
							{% if current_user %}
								<a class="dropdown-item" href="/users">{{ _("Users") }}</a>
							{% end %}
							{% if current_user and current_user.is_admin() %}
								<div class="dropdown-divider"></div>
								<h6 class="dropdown-header">{{ _("Administration") }}</h6>
								<a class="dropdown-item" href="/sessions">{{ _("Sessions") }}</a>
								<a class="dropdown-item" href="/uploads">{{ _("Uploads") }}</a>
							{% end %}
						</div>
					</li>
				 </ul>
				 <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
						<input type="text"
							class="form-control mr-sm-2 search-query typeahead-packages-autocomplete"
							id="search" placeholder="{{ _("Search...") }}"
							aria-label="{{ _("Search...") }}"
							name="q" autocomplete="off">
				</form>
				{% if current_user %}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ current_user.realname }}
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/profile">{{ _("My profile") }}</a>
								<a class="dropdown-item" href="/profile/builds">{{ _("My builds") }}</a>
								<div class="dropdown-divider"></div>
								{% if session and session.impersonated_user %}
									<li class="dropdown-header">{{ _("Impersonated by") }}</li>
									<a class="dropdown-item" href="/user/{{ session.user.name }}">
										{{ session.user.realname }}
									</a>
								{% end %}
								<a class="dropdown-item" href="/logout">{{ _("Logout") }}</a>
							</div>
						</li>
					</ul>
				{% else %}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/register">{{ _("Register") }}</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ _("Sign in") }}
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<form class="" action="/login" method="POST">
									<div class="form-group dropdown-item">
										{% raw xsrf_form_html() %}
										<input class=" form-control btn " type="text" name="name" placeholder="{{ _("Username") }}">
									</div>
									<div class="form-group dropdown-item">
										<input class="form-control btn " type="password" name="pass" placeholder="{{ _("Password") }}">
									</div>
									<div class="form-group dropdown-item">
										<input class="form-control btn  btn-primary" type="submit" value="{{ _("Sign In") }}">
									</div>
								</form>
								<a class="dropdown-item" href="/password-recovery">
									<small>{{ _("Forgot your password?") }}</small>
								</a>

							</div>
						</li>
					</ul>
				{% end %}
			</div>
		</nav>

		{% block container %}
			<div class="container container-body">
				{% block body %}EMPTY BODY{% end block %}

				{% module Footer() %}
			</div>
		{% end block %}

		<!-- include javascript files -->
		<script src="{{ static_url("js/jquery.js") }}"></script>
		<script src="{{ static_url("js/popper.min.js") }}"></script>
		<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
		<script src="{{ static_url("js/prettify.js") }}"></script>
		<script src="{{ static_url("js/pbs.js") }}"></script>
	</body>
</html>
