{% extends "base.html" %}

{% block title %}{{ _("Build") }}: {{ build.name }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/packages">{{ _("Packages") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/package/{{ build.pkg.name }}">{{ build.pkg.name }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/build/{{ build.uuid }}">{{ build.pkg.friendly_version }}</a>
		</li>
	</ul>

	{% module BuildHeadline(build) %}
	{% module BuildStateWarnings(build) %}

	<div class="row">
		<div class="span8">
			<div class="row-fluid">
				<div class="span3">
					<div class="well well-large well-white ac">
						<p class="huge {% if build.credits >= 0 %}text-success{% else %}text-error{% end %}">
							{% if build.credits > 0 %}
								+{{ build.credits }}
							{% else %}
								{{ build.credits }}
							{% end %}
						</p>

						<hr>

						<p>
							{{ _("Score") }}

							{% if build.state == "broken" %}
								<span class="text-error">{{ _("(broken)") }}</span>
							{% elif build.state == "obsolete" %}
								<span class="text-warning">{{ _("(obsolete)") }}</span>
							{% end %}
						</p>

						{% if build.severity %}
							<hr>

							{% if build.severity == "security update" %}
								<i class="icon-bolt"></i>
								{{ _("Security update") }}
							{% elif build.severity == "bugfix update" %}
								<i class="icon-wrench"></i>
								{{ _("Bug fix update") }}
							{% elif build.severity == "enhancement" %}
								<i class="icon-plus"></i>
								{{ _("Enhancement") }}
							{% elif build.severity == "new package" %}
								<i class="icon-asterisk"></i>
								{{ _("New package") }}
							{% else %}
								{{ _("Unhandled: %s") % build.severity }}
							{% end %}
						{% end %}

						{% if bugs %}
							<hr>

							<h5>{{ _("Fixed bugs") }}</h5>

							<ul class="unstyled">
								{% for b in bugs %}
									<li>
										<a href="{{ b.url }}" rel="tooltip" title="{{ b.summary }}" target="_blank">
											#{{ b.id }}
										</a>
									</li>
								{% end %}
							</ul>
						{% end %}
					</div>
				</div>

				<div class="span9">
					{% if build.type == "release" %}
						{% if build.commit %}
							{% module CommitMessage(build.commit) %}

							<hr>

							<p class="muted">
								{{ _("Author") }} {% module Maintainer(build.commit.author) %}
								&dash;
								{{ _("Commit") }} <a href="/distro/{{ build.distro.identifier }}/source/{{ build.pkg.commit.source.identifier }}/{{ build.pkg.commit.revision }}">{{ build.pkg.commit.revision[:7] }}</a>
							</p>
						{% else %}
							<p class="muted">{{ _("No commit message.") }}</p>
						{% end %}
					{% elif build.type == "scratch" %}
							...
					{% end %}
				</div>
			</div>

			<hr>

			<h3>
				<div class="pull-right">
					<a class="btn btn-small btn-primary" data-toggle="modal" href="#comment" >
						<i class="icon-comment icon-white"></i>
						{{ _("Comment") }}
					</a>
				</div>

				{{ _("Log") }}
			</h3>

			{% module Log(log) %}

			<hr class="visible-phone">
		</div>

		<div class="span4">
			<h4 class="visible-phone">{{ _("Jobs") }}</h4>
			{% module JobsBoxes(build) %}

			<p class="ac">
				<a href="/package/{{ build.pkg.uuid }}">{{ _("Source package") }}</a>
			</p>
		</div>
	</div>

	{% if current_user and build.has_perm(current_user) %}
		<div class="row">
			<div class="span12">
				{% if build.type == "release" %}
					<div class="btn-toolbar pull-right">
						<a class="btn" href="/build/{{ build.uuid }}/state">{{ _("Change state") }}</a>
						<a class="btn" href="/build/{{ build.uuid }}/bugs">{{ _("Modify bug list") }}</a>
					</div>
				{% elif build.type == "scratch" %}
					<div class="btn-toolbar pull-right">
						<a class="btn" href="/build/{{ build.uuid }}/delete">
							<i class="icon-trash icon-white"></i>
							{{ _("Delete build") }}
						</a>
					</div>
				{% end %}
			</div>
		</div>
	{% end %}

	<hr>

	{% if build.type == "release" %}
		<div class="row">
			<div class="span12">
				{% if current_user and build.has_perm(current_user) %}
					{% if build.repo %}
						{% if build.can_move_forward %}
							<div class="btn-group pull-right">
								<a class="btn btn-success" href="#push" data-toggle="modal">{{ _("Push") }}</a>
								<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="#unpush" data-toggle="modal">{{ _("Unpush") }}</a>
									</li>
								</ul>
							</div>

							{% module Modal("build-push", build=build, current_repo=repo, next_repo=next_repo) %}
							{% module Modal("build-unpush", build=build, repo=repo) %}
						{% else %}
							<a class="btn btn-danger pull-right" href="#unpush" data-toggle="modal">
								{{ _("Unpush") }}
							</a>

							{% module Modal("build-unpush", build=build, repo=repo) %}
						{% end %}
					{% else %}
						{% if build.can_move_forward or build.state == "obsolete" %}
							<a class="btn btn-success pull-right" href="#push" data-toggle="modal">
								{{ _("Push") }}
							</a>

							{% module Modal("build-push", build=build, current_repo=repo, next_repo=next_repo) %}
						{% end %}
					{% end %}
				{% end %}

				{% if build.repo %}
					{{ build.distro.name }} -
					<a href="/distro/{{ build.distro.identifier }}/repo/{{ build.repo.identifier }}">{{ build.repo.name }}</a>
					{{ _("since %s") % locale.format_date(build.repo_time, relative=False) }}
				{% else %}
					<span class="muted">
						{{ _("This package does not belong to any repository.") }}
					</span>
				{% end %}
			</div>
		</div>

		<hr>
	{% end %}

	{% module Modal("build-comment", build=build) %}

	<hr>

	<div class="row">
		<div class="span12">
			{% module WatchersSidebarTable(build, build.get_watchers()) %}
		</div>
	</div>
{% end block %}
