{% extends "base.html" %}

{% block title %}{{ _("Distribution") }}: {{ distro.name }}{% end block %}

{% block body %}
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
					<li class="breadcrumb-item"><a href="/distros">{{ _("Distributions") }}</a></li>
					<li class="breadcrumb-item active">
						<a href="/distro/{{ distro.identifier }}">{{ distro.name }}</a>
					</li>
				</ol>
			</nav>
		</div>
	</div>


	<div class="row">
		{% if current_user and current_user.is_admin() %}
			<div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
				<h2 style="word-wrap: break-word;">
					{{ _("Distribution") }}: {{ distro.name }} <br>
					<small class="text-muted">{{ distro.slogan }}</small>
				</h2>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 mb-2">
				<button class="btn dropdown-toggle btn-block " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ _("Actions") }}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="/distro/{{ distro.identifier }}/edit">
						{{ _("Edit distribution") }}
					</a>
					<a class="dropdown-item" href="/distro/{{ distro.identifier }}/delete">
						{{ _("Delete distribution") }}
					</a>
					</a>
					<a class="dropdown-item" href="/distro/{{ distro.identifier }}/repo/new">
						{{ _("New binary repository") }}
					</a>
					<a class="dropdown-item" href="/distro/{{ distro.identifier }}/source/new">
						{{ _("New source repository") }}
					</a>
				</div>
			</div>
		{% else %}
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<h2 style="word-wrap: break-word;">
					{{ _("Distribution") }}: {{ distro.name }} <br>
					<small class="text-muted">{{ distro.slogan }}</small>
				</h2>
			</div>
		{% end %}
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<blockquote class="blockquote">
				<p class="mb-0">{{ distro.description }}</p>
				<footer class="blockquote-footer"><cite title="{{ distro.vendor }}">{{ distro.vendor }}</cite></footer>
			</blockquote>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<p>
				{{ _("Supported architectures") }}:
				{{ locale.list(distro.arches) or _("None") }}
			</p>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h2 style="word-wrap: break-word;">
				{{ _("Binary repositories") }}
				<small>({{ len(distro.repositories) }})</small>
			</h2>

			<p>
				{{ _("A binary repository is a composition of packages that are considered stable, unstable or in testing state by the developers.") }}
				<br/>
				{{ _("Each repository can be enabled individually.") }}
			</p>

			{% module RepositoryTable(distro, distro.repositories) %}

			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h2 style="word-wrap: break-word;">
				{{ _("Source repositories") }}
				<small>({{ len(distro.sources) }})</small>
			</h2>

			{% module SourceTable(distro, distro.sources) %}
		</div>
	</div>

{% end block %}
