{% extends "base.html" %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/distros">{{ _("Distributions") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/distro/{{ distro.identifier }}">{{ distro.name }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/distro/{{ distro.identifier }}/source/{{ source.identifier }}">
				{{ _("Source: %s") % source.name }}
			</a>
		</li>
	</ul>

	<div class="page-header">
		<h1>
			{{ _("Source") }}: {{ source.name }}
		</h1>
	</div>

	<div class="row">
		<div class="span10 offset1">
			<table class="table">
				<tbody>
					{% if source.gitweb %}
						<tr>
							<td>{{ _("Gitweb") }}</td>
							<td>
								<a href="{{ source.gitweb }}" target="_blank">
									{{ source.gitweb }}
								</a>
							</td>
						</tr>
					{% end %}
					<tr>
						<td>{{ _("Branch") }}</td>
						<td>{{ source.branch }}</td>
					</tr>
					<tr>
						<td>{{ _("Imported commits") }}</td>
						<td>{{ len(source) }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="span10 offset1">
			<h2>{{ _("Latest commits") }}</h2>
			{% module CommitsTable(distro, source, commits) %}

			<a class="btn pull-right" href="/distro/{{ distro.identifier }}/source/{{ source.identifier }}/commits">
				{{ _("Show all commits") }}
			</a>
		</div>
	</div>
{% end block %}
