{% extends "base.html" %}

{% block body %}
	<h1>
		{{ _("Distribution") }}: {{ distro.name }}
		<span>- {{ _("Source") }}: {{ source.name }} - {{ _("Commits") }}</span>
	</h1>

	<p>
		{{ _("Source repository") }}:
		<a href="/distro/{{ distro.identifier }}/source/{{ source.identifier }}">
			{{ source.name }}
		</a>
	</p>

	{% module CommitsTable(distro, source, commits) %}

	<div class="links">
		{% if offset %}
			<a href="?offset={{ offset - number }}">{{ _("Previous commits") }}</a>
		{% end %}

		{% if limit %}
			<a href="?offset={{ offset + number }}">{{ _("Next commits") }}</a>
		{% end %}
	</div>
{% end block %}
