{% extends "base.html" %}

{% block body %}
	<div class="row">
		<div class="span2">
			<div class="well" style="padding: 8px 0;">
				<ul class="nav nav-list">
					<li class="active">
						<a href="#">
							<i class="icon-home icon-white"></i>
							Home
						</a>
					</li>
					<li><a href="#"><i class="icon-book"></i> Library</a></li>
					<li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
					<li><a href="#"><i class="i"></i> Misc</a></li>
				</ul>
			</div>
		</div>
      </div>
	</div>
	{% block body %}TEST{% end block %}
{% end %}

{% block sidebar %}
	<ul>
		<li><a href="/documents">{{ _("All Documents") }}</a></li>
	</ul>
	<div style="clear: both;">&nbsp;</div>

	<h1>{{ _("Topics") }}</h1>
	<ul>
		<li><a href="/documents/builds">{{ _("Builds") }}</a></li>
		<li><a href="/documents/users">{{ _("Users") }}</a></li>
	</ul>
{% end block %}
