{% extends "base.html" %}

{% block title %}{{ _("Job") }}: {{ job.name }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/packages">{{ _("Packages") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/package/{{ build.pkg.name }}">{{ build.pkg.name }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/build/{{ build.uuid }}">{{ build.pkg.friendly_version }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/job/{{ job.uuid }}">{{ job.arch }}</a>
		</li>
	</ul>

	<div class="btn-group pull-right">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			{{ _("Actions") }} <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			{% if job.state in ("dispatching", "running", "uploading") %}
				<li>
					<a href="/job/{{ job.uuid }}/abort">
						{{ _("Abort job") }}
					</a>
				</li>
			{% elif job.state in ("aborted", "failed") %}
				<li>
					<a href="/job/{{ job.uuid }}/schedule?type=rebuild">
						{{ _("Restart job") }}
					</a>
				</li>
			{% elif job.state == "finished" %}
				<li>
					<a href="/job/{{ job.uuid }}/schedule?type=test">
						{{ _("Schedule test build") }}
					</a>
				</li>
			{% end %}
		</ul>
	</div>


	<div class="page-header">
		<h2>
			{{ _("Build job") }}: {{ job.name }}<br>
			<small>{{ job.pkg.summary }}</small>
		</h2>
	</div>

	{% if job.message %}
		<div class="alert alert-block">
			{{ "<br />".join(job.message.splitlines()) }}
		</div>
	{% end %}

	{% if job.state == "aborted" and job.aborted_state %}
		<div class="alert alert-block alert-danger">
			<span>{{ _("Job has been aborted") }}</span>
			<p>
				{{ _("This build job is in an aborted state, because the build process crashed unexpectedly.") }}
				{{ _("In most cases, there is no log file and you must figure out the issue on your own.") }}
			</p>
			<p>
				{{ _("The error code is:") }}

				{% if job.aborted_state == -11 %}
					SEGV - {{ _("Segmentation violation") }}
				{% else %}
					{{ job.aborted_state }} - {{ _("Unknown") }}
				{% end %}
			</p>

			{% if current_user and current_user.is_admin() %}
				<p>
					{{ _("You may resubmit the job to try again:") }}
					<a href="/job/{{ job.uuid }}/schedule?type=rebuild">{{ _("Re-submit build") }}</a>
				</p>
			{% end %}
		</div>
	{% end %}

	<div class="row">
		<div class="span7">
			<div class="well well-large well-white ac">
				<div class="row-fluid">
					<div class="span5">
						{% module JobState(job, cls="lead", show_icon=True) %}

						{% if job.rank %}
							<p>
								{{ _("#%s in the build queue") % job.rank }}
							</p>
						{% end %}

						<hr>

						<p>
							<span class="lead">{{ friendly_time(job.duration) }}</span>
							{% if job.builder %}
								<br>
								<a href="/builder/{{ job.builder.name }}">{{ job.builder.name }}</a>
							{% else %}
								<span class="muted">{{ _("No builder assigned.") }}</span>
							{% end %}
						</p>
					</div>

					<div class="span7">
							<p>
								<strong>{{ _("Created") }}</strong><br>
								{{ format_date(job.time_created, full_format=True) }}
							</p>
							{% if job.time_started %}
								<p>
									<strong>{{ _("Started") }}</strong><br>
									{{ format_date(job.time_started, full_format=True) }}
								</p>
							{% end %}
							{% if job.time_finished %}
								<p>
									<strong>{{ _("Finished") }}</strong><br>
									{{ format_date(job.time_finished, full_format=True) }}
								</p>
							{% end %}
							{% if job.is_running() %}
								<p>
									<strong>{{ _("ETA") }}</strong><br>
									{{ format_eta(job.eta) }}
								</p>
							{% end %}
					</div>
				</div>
			</div>
		</div>

		<div class="span5">
			<h4>{{ _("Build logs") }}</h4>
			{% if job.logfiles %}
				{% module LogFilesTable(job, job.logfiles) %}
			{% else %}
				<p class="muted">{{ _("No logs available, yet.") }}</p>
			{% end %}

			{% if job.buildroot %}
				<hr>
				<p class="ac">
					<a href="/job/{{ job.uuid }}/buildroot">{{ _("Buildroot") }}</a>
					({{ _("%s package", "%s packages", len(job.buildroot)) % len(job.buildroot) }})
				</p>
			{% end %}
		</div>
	</div>

	{% if len(job) > 0 %}
		<hr>

		<h3>
			{{ _("Package files") }}
			<small>({{ len(job) }})</small>
		</h3>

		{% module PackagesTable(job, job) %}
	{% end %}

	{% if log %}
		<hr>

		<h3>{{ _("Log") }}</h3>

		{% module Log(log) %}
	{% end %}
{% end block %}
