{% extends "base-form2.html" %}

{% block title %}{{ _("Login") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h1>{{ _("Login") }}</h1>
	</div>

	{% if failed %}
		<div class="alert alert-block alert-error">
			<h4 class="alert-heading">{{ _("Login failed!") }}</h4>
			{{ _("Username and/or password was wrong. Login failed.") }}
		</div>
	{% end %}

	<form class="form-horizontal" method="POST" action="">
		{% raw xsrf_form_html() %}

		<fieldset>
			<div class="control-group">
				<label class="control-label" for="name">{{ _("Username") }}</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="name" name="name" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="pass">{{ _("Password") }}</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="pass" name="pass" />
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">{{ _("Login") }}</button>
			</div>
		</fieldset>
	</form>

	<hr>

	<h3>{{ _("You also might want to...") }}</h3>
	<ul>
		<li>
			<a href="/register">{{ _("Register a new account.") }}</a>
		</li>
		<li>
			<a href="/password-recovery">{{ _("Recover your password.") }}</a>
		</li>
	</ul>
{% end %}
