{% extends "base.html" %}

{% block title %}{{ _("Register a new account") }}{% end block %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
					<li class="breadcrumb-item active"><a href="/register">{{ _("Register new account") }}</a></li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<h2>
				{{ _("Register a new account") }}
				<small>{{ _("Join the community!") }}</small>
			</h2>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">

			<form method="POST" action="">
				{% raw xsrf_form_html() %}
				<fieldset>
					<legend>{{ _("Registration form") }}</legend>

					<div class="form-group">
						<label for="name">{{ _("Username") }}</label>
						<input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="{{ _("Username") }}">
						<small id="nameHelp" class="form-text text-muted">
							{{ _("Must be a unique name you login with.") }}
						</small>
					</div>

					<div class="form-group">
						<label for="email">{{ _("Email address") }}</label>
						<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="{{ _("Email address") }}">
						<small id="emailHelp" class="form-text text-muted">
							{{ _("Type in your email address, which is used to verify the account.") }}
						</small>
					</div>

					<div class="form-group">
						<label for="realname">{{ _("Real name (optional)") }}</label>
						<input type="text" class="form-control" id="realname" name="realname" aria-describedby="realnameHelp" placeholder="{{ _("Real name") }}">
						<small id="realnameHelp" class="form-text text-muted">
							{{ _("Type you firstname and your lastname here.") }}
						</small>
					</div>
				</fieldset>
				<fieldset>
					<legend>{{ _("Account security") }}</legend>

					<div class="form-group">
						<label for="pass1">{{ _("Password") }}</label>
						<input type="password" class="form-control"
							id="pass1" name="pass1" aria-describedby="pass1Help" placeholder="{{ _("Password") }}">
						<small id="pass1Help" class="form-text text-muted">
							{{ _("The password is used to secure the login and must be at least 8 characters.") }}
						</small>
					</div>

					<div class="form-group">
						<label for="pass2">{{ _("Password") }}</label>
						<input type="password" class="form-control"
							id="pass2" name="pass2" aria-describedby="pass2Help" placeholder="{{ _("Confirm password") }}">
						<small id="pass1Help" class="form-text text-muted">
							{{ _("Pick a password that is as strong as possible.") }}
							{{ _("Don't login at unsecure places where people could spy on your password.") }}
						</small>
					</div>
				</fieldset>

				<button type="submit" class="btn btn-primary">{{ _("Sign up!") }}</button>
			</form>
		</div>
	</div>
{% end block %}
