{% extends "base.html" %}

{% block title %}{{ _("Register a new account") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/register">{{ _("Register new account") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h2>
			{{ _("Register a new account") }}
			<small>{{ _("Join the community!") }}</small>
		</h2>
	</div>

	<form class="form-horizontal" method="POST" action="">
		{% raw xsrf_form_html() %}

		<legend>{{ _("Registration form") }}</legend>

		<fieldset>
			<div class="control-group">
				<label class="control-label" for="name">{{ _("Username") }}</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="name" name="name" placeholder="{{ _("Username") }}">

					<p class="help-block">
						{{ _("Must be a unique name you login with.") }}
					</p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="email">{{ _("Email address") }}</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="email" name="email" placeholder="{{ _("Email address") }}">

					<p class="help-block">
						{{ _("Type in your email address, which is used to verify the account.") }}
					</p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="realname">{{ _("Real name (optional)") }}</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="realname" name="realname" placeholder="{{ _("Real name") }}">

					<p class="help-block">
						{{ _("Type you firstname and your lastname here.") }}
					</p>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>{{ _("Account security") }}</legend>

			<div class="control-group">
				<label class="control-label" for="pass1">{{ _("Password") }}</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="pass1" name="pass1" placeholder="{{ _("Password") }}">

					<p class="help-block">
						{{ _("The password is used to secure the login and must be at least 8 characters.") }}
					</p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="pass2">{{ _("Confirm password") }}</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="pass2" name="pass2" placeholder="{{ _("Confirm password") }}">

					<p class="help-block">
						{{ _("Pick a password that is as strong as possible.") }}
						{{ _("Don't login at unsecure places where people could spy on your password.") }}
					</p>
				</div>
			</div>
		</fieldset>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ _("Sign up!") }}</button>
		</div>
	</form>
{% end block %}
