{% extends "base.html" %}

{% block title %}{{ _("Account activation failed") }}{% end block %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
					<li class="breadcrumb-item active">{{ _("Account activation") }}</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<div class="alert alert-danger">
				<h2 style="word-wrap: break-word;" class="alert-heading">{{ _("Activation failed") }}</h2>
				<p>
						{{ _("We are sorry.") }}
						{{ _("The activation of your account has failed.") }}
						{{ _("Possibly the registration code is wrong or your registration timed out.") }}
					</p>
			</div>
		</div>
	</div>
{% end %}
