{% extends "base.html" %}

{% block title %}{{ _("Uploads") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/uploads">{{ _("Uploads") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h2>{{ _("Uploads") }}</h2>
	</div>

	{% if uploads %}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>{{ _("Filename") }}</th>
					<th>{{ _("Owner") }}</th>
					<th>{{ _("Filesize") }}</th>
					<th>{{ _("Time running") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for upload in uploads %}
					<tr>
						<td>{{ upload.filename }}</td>
						<td>
							{% if upload.builder %}
								<a href="/builders/{{ upload.builder.name }}">
									{{ upload.builder.name }}
								</a>
							{% elif upload.user %}
								<a href="/user/{{ upload.user.name }}">
									{{ upload.user.realname }}
								</a>
							{% else %}
								{{ _("No owner.") }}
							{% end %}
						</td>
						<td>
							{{ format_size(upload.size) }}
						</td>
						<td>
							{% if upload.time_running %}
								{{ friendly_time(upload.time_running) }} /
								{{ format_size(upload.speed) }}b/s
							{% else %}
								{{ _("N/A") }}
							{% end %}
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<div class="progress progress-striped active">
								<div class="bar" style="width: {{ "%d" % (upload.progress * 100) }}%;"></div>
							</div>
						</td>
						<td>
							{{ "%.2f%%" % (upload.progress * 100) }}
						</td>
					</tr>
				{% end %}
			</tbody>
		</table>
	{% else %}
		<p class="muted">
			{{ _("There are currently no uploads running.") }}
		</p>
	{% end %}
{% end block %}
