{% extends "base.html" %}

{% block title %}{{ _("Register a new account") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h2>
			{{ _("Reset password") }}
		</h2>
	</div>

	<form class="form-horizontal" method="POST" action="">
		{% raw xsrf_form_html() %}
		<input type="hidden" name="code" value="{{ user.password_recovery_code }}">

		<fieldset>
			<div class="control-group">
				<label class="control-label" for="password1">{{ _("Password") }}</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="password1" name="password1">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="password2">{{ _("Confirm password") }}</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="password2" name="password2">
				</div>
			</div>
		</fieldset>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ _("Reset password") }}</button>
		</div>
	</form>
{% end block %}
