{% extends "base.html" %}

{% block title %}{{ _("Edit user profile: %s") % user.realname }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/users">{{ _("Users") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/user/{{ user.name }}">{{ user.realname }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/user/{{ user.name }}/edit">{{ _("Edit") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h2>
			{{ _("Edit user profile: %s") % user.realname }}
		</h2>
	</div>

	<form class="form-horizontal" method="POST" action="">
		{% raw xsrf_form_html() %}

		<fieldset>
			<legend>{{ _("User Identity") }}</legend>

			<div class="control-group">
				<label class="control-label">{{ _("Username") }}</label>
				<div class="controls">
					<span class="input-xlarge uneditable-input">{{ user.name }}</span>

					<span class="help-inline">
						{{ _("Cannot be changed.") }}
					</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputRealname">{{ _("Real name") }}</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="inputRealname" name="realname" placeholder="{{ _("Real name") }}"
						value="{{ user.realname }}">

					<span class="help-block">
						{{ _("This field is optional, but we appreciate it very much if you type in your real name.") }}
					</span>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>{{ _("Email Adresses") }}</legend>

			<div class="control-group">
				<label class="control-label">{{ _("Primary email address") }}</label>
				<div class="controls">
					<select class="input-xlarge" name="primary_email_address">
						{% for email in user.emails %}
							<option {% if user.email == email %}selected{% end %}>{{ email }}</option>
						{% end %}
					</select>

					<span class="help-block">
						{{ _("This email address will be used for all messages to you.") }}
					</span>
				</div>
			</div>

		</fieldset>

		{% if current_user.is_admin() %}
			<fieldset>
				<legend>{{ _("Admin actions") }}</legend>

				<div class="control-group">
					<label class="control-label" for="inputState">{{ _("State") }}</label>
					<div class="controls">
						<select class="input-xlarge" id="inputState" name="state">
							<option value="user">{{ _("User") }}</option>
							<option value="tester" {% if user.is_tester() %}selected="selected"{% end %}>
								{{ _("Tester") }}
							</option>
							<option value="admin" {% if user.is_admin() %}selected="selected"{% end %}>
								{{ _("Admin") }}
							</option>
						</select>

						<span class="help-block">
							{{ _("Define the permissions of the user.") }}
						</span>
					</div>
				</div>
			</fieldset>
		{% end %}

		<fieldset>
			<legend>{{ _("Account security settings") }}</legend>

			<div class="control-group">
				<label class="control-label" for="inputPass1">{{ _("Password") }}</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="inputPass1" name="pass1" placeholder="{{ _("Password") }}">

					<span class="help-block">
						{{ _("The password is used to secure the login and must be at least 8 characters.") }}
					</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputPass2">{{ _("Confirm") }}</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="inputPass2" name="pass2" placeholder="{{ _("Confirm password") }}">

					<span class="help-block">
						{{ _("Leave the password fields empty to keep the current password.") }}
					</span>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>{{ _("Locale & timezone settings") }}</legend>

			<div class="control-group">
				<label class="control-label" for="inputLocale">{{ _("Preferred language") }}</label>
				<div class="controls">
					{% module SelectLocale(name="locale", id="inputLocale", preselect=user.locale) %}

					<span class="help-block">
						{{ _("Auto-detect will use the language transmitted by your browser.") }}
					</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputTimezone">{{ _("Timezone") }}</label>
				<div class="controls">
					{% module SelectTimezone(name="timezone", id="inputTimezone", preselect=user.timezone.zone) %}

					<span class="help-block">
						{{ _("Auto-detect will use the timezone transmitted by your browser.") }}
					</span>
				</div>
			</div>
		</fieldset>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
			<a class="btn" href="/user/{{ user.name }}">{{ _("Cancel") }}</a>
		</div>
	</form>
{% end block %}
