{% extends "base.html" %}

{% block title %}{{ _("Forgot password") }}{% end block %}

{% block body %}

<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
					<li class="breadcrumb-item active"><a href="/password-recovery">{{ _("Forgot password") }}</a></li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<h2>
				{{ _("Forgot password") }}
			</h2>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<p>
				{{ _("You have forgotten you password, eh? Shame on you.") }}
				{{ _("However, we allow to re-activate your account.") }}
			</p>
			<p>
				{{ _("You need to enter your username or your email address below") }}
				{{ _("After that, you will receive an email with intructions how to go on.") }}
			</p>
			<hr>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">

			<form class="form-horizontal" method="POST" action="">
				{% raw xsrf_form_html() %}

				<fieldset>
					<div class="form-group">
						<label for="name">{{ _("Your username or email address") }}</label>
						<input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="{{ _("Username or email address") }}">
					</div>
				</fieldset>
				<button type="submit" class="btn btn-primary">{{ _("Submit") }}</button>
			</form>
		</div>
	</div>
{% end block %}
