{% extends "base-form2.html" %}

{% block title %}{{ _("Forgot password") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/password-recovery">{{ _("Forgot password") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Forgot password") }}</h1>
	</div>

	<div class="row">
		<div class="span6">
			<p>
				{{ _("You have forgotten you password, eh? Shame on you.") }}
				{{ _("However, we allow to re-activate your account.") }}
			</p>
			<p>
				{{ _("You need to enter your username or your email address below") }}
				{{ _("After that, you will receive an email with intructions how to go on.") }}
			</p>
			<hr>

			<form class="form-horizontal" method="POST" action="">
				{% raw xsrf_form_html() %}

				<fieldset>
					<div class="control-group">
						<label class="control-label" for="name">{{ _("Your username or email address") }}</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="name" name="name" />
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">{{ _("Submit") }}</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% end block %}
