{% extends "base.html" %}

{% block title %}{{ _("Change password") }}{% end block %}

{% block body %}

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
					<li class="breadcrumb-item">
						<a href="/users">{{ _("Users") }}</a>
					</li>
					<li class="breadcrumb-item">
						<a href="/user/{{ user.name }}">{{ user.realname }}</a>
					</li>
					<li class="breadcrumb-item active">
						<a href="/user/{{ user.name }}/passwd">{{ _("Change password") }}</a>
					</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h2 style="word-wrap: break-word;">
				{{ _("Change password") }}
			</h2>
		</div>
	</div>

	{% if error_msg %}
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<h3 style="word-wrap: break-word;" class="alert-heading">
						{{ _("Oops!") }}
					</h3>
					{{ error_msg }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	{% end %}

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			{% if user == current_user %}
				<p>
					{{ _("You are going to change your password.") }}
				</p>
				<p>
					{{ _("To do so, you need to enter your current password and the new password twice.") }}
				</p>
			{% else %}
				<p>
					{{ _("In this dialog, you may change the password of %s.") % user.realname }}
				</p>
			{% end %}
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<form method="POST" action="">
				{% raw xsrf_form_html() %}

				<fieldset>
					{% if user == current_user %}
						<div class="form-group">
							<label for="pass0">{{ _("Old password") }}</label>
							<input type="password" class="form-control"
								id="pass0" name="pass0" aria-describedby="pass0Help" placeholder="{{ _("Old password") }}">
							<small id="pass0Help" class="form-text text-muted">
								{{ _("Please provide your old password.") }}
							</small>
						</div>
					{% end %}

					<div class="form-group">
						<label for="pass1">{{ _("New password") }}</label>
						<input type="password" class="form-control"
							id="pass1" name="pass1" aria-describedby="pass1Help" placeholder="{{ _("New password") }}">
						<small id="pass1Help" class="form-text text-muted">
							{{ _("Choose a new password. Make sure that it is as strong as possible.") }}
						</small>
					</div>

					<div class="form-group">
						<label for="pass2">{{ _("Confirm new password") }}</label>
						<input type="password" class="form-control"
							id="pass2" name="pass2" aria-describedby="pass2Help" placeholder="{{ _("Confirm new password") }}">
						<small id="pass2Help" class="form-text text-muted">
							{{ _("Confirm the new password.") }}
						</small>
					</div>

					<button type="submit" class="btn btn-primary">{{ _("Change password") }}</button>
					<a class="btn btn-light" href="/user/{{ user.name }}">{{ _("Cancel") }}</a>

				</fieldset>
			</form>
		</div>
	</div>
{% end %}
