{% extends "base.html" %}

{% block title %}{{ _("Requested password recovery") }}{% end block %}

{% block body %}
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h2 style="word-wrap: break-word;">
				{{ _("Password recovery requested") }}
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<p>
				{{ _("An email with instructions how to recover your password was send to your primary email address.") }}
			</p>
		</div>
	</div>
{% end %}
