{% extends "base.html" %}

{% block title %}{{ user.realname }}{% end block %}

{% block body %}
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
					<li class="breadcrumb-item">
						<a href="/users">{{ _("Users") }}</a>
					</li>
					<li class="breadcrumb-item active">
						<a href="/user/{{ user.name }}">{{ user.realname }}</a>
					</li>

				</ol>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
			<h2 style="word-wrap: break-word;">
				{{ _("User") }}: {{ user.realname }}
			</h2>
		</div>
		<div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 mb-2">
			<div class="dropdown">
				<button class="btn btn-block btn-light dropdown-toggle mb-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ _("Actions") }}
				</button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="/builds/comments/{{ user.name }}">
						{{ _("View comments") }}
					</a>
					{% if current_user == user or current_user.is_admin() %}
						<a class="dropdown-item" href="/user/{{ user.name }}/edit">
							<i class="icon-edit"></i>
							{{ _("Edit profile") }}
						</a>
						<a class="dropdown-item" href="/user/{{ user.name }}/passwd">
							<i class="icon-lock"></i>
							{{ _("Change password") }}
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/user/{{ user.name }}/delete">
							<i class="icon-trash"></i>
							{{ _("Delete account") }}
						</a>
						{% if not current_user == user and current_user.is_admin() %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/user/{{ user.name }}/impersonate">{{ _("Impersonate User") }}</a>
						{% end %}
					{% end %}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-2">
			<div class="d-flex justify-content-center justify-content-md-start">
				<img class="img-fluid" src="{{ user.gravatar_icon(200) }}" alt="{{ user.name }}" />
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
			<div class="table-responsive mb-2">
				<table class="table">
					<tbody>
						<tr>
							<td>{{ _("Username") }}</td>
							<td>{{ user.name }}</td>
						</tr>
						<tr>
							<td>{{ _("Email") }}</td>
							<td>
								<a href="mailto:{{ user.email }}">{{ user.email }}</a>
							</td>
						</tr>
						<tr>
							<td>{{ _("State") }}</td>
							<td>
								{% if user.is_admin() %}
									{{ _("Admin") }}
								{% else %}
									{{ _("User") }}
								{% end %}
							</td>
						</tr>

						{% if current_user == user or current_user.is_admin() %}
							<tr>
								<td>{{ _("Registered") }}</td>
								<td>
									{{ format_date(user.registered_at, full_format=True) }}
								</td>
							</tr>
						{% end %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


	{% if current_user == user or current_user.is_admin() %}
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<h3>{{ _("Permissions") }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				{% if user.is_admin() %}
					<p>
						{{ _("This user has administration rights.") }}
						<i class="icon-star"></i>
					</p>
				{% else %}
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<tr>
								<td>
									{{ _("User is allowed to create scratch builds?") }}
								</td>
								<td>
									{% if user.has_perm("create_scratch_builds") %}
										{{ _("Yes") }}
									{% else %}
										{{ _("No") }}
									{% end %}
								</td>
							</tr>
						</table>
					</div>
				{% end %}
			</div>
		</div>
	{% end %}
{% end block %}
