{% extends "base.html" %}

{% block title %}{{ _("Change password") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/users">{{ _("Users") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/user/{{ user.name }}">{{ user.realname }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/user/{{ user.name }}/passwd">{{ _("Change password") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Change password") }}</h1>
	</div>

	<div class="row">
		<div class="span6 offset3">
			{% if user == current_user %}
				<p>					
					{{ _("You are going to change your password.") }}
				</p>
				<p>
					{{ _("To do so, you need to enter your current password and the new password twice.") }}
				</p>
			{% else %}
				<p>
					{{ _("In this dialog, you may change the password of %s.") % user.realname }}
				</p>
			{% end %}
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="span6 offset3">
			{% if error_msg %}
				<div class="alert alert-block alert-important">
					<a class="close" data-dismiss="alert">&times;</a>
					<strong>{{ _("Oops!") }}</strong> {{ error_msg }}
				</div>
			{% end %}

			<form class="form-horizontal" method="POST" action="">
				{% raw xsrf_form_html() %}

				<fieldset>
					{% if user == current_user %}
						<div class="control-group">
							<label class="control-label">{{ _("Old password") }}</label>
							<div class="controls">
								<input type="password" class="input-xlarge" name="pass0" />

								<p class="help-block">
									{{ _("Please provide your old password.") }}
								</p>
							</div>
						</div>
					{% end %}

					<div class="control-group">
						<label class="control-label">{{ _("New password") }}</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="pass1" />

							<p class="help-block">
								{{ _("Choose a new password. Make sure that it is as strong as possible.") }}
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">{{ _("Confirm") }}</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="pass2" />

							<p class="help-block">
								{{ _("Confirm the new password.") }}
							</p>
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">{{ _("Change password") }}</button>
						<a class="btn" href="/user/{{ user.name }}">{{ _("Cancel") }}</a>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% end %}
