{% extends "../base.html" %}

{% block title %}{{ _("Builders") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/builders">{{ _("Builders") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h2>{{ _("Builders") }}</h2>
	</div>

	{% module BuildersLoad() %}

	<hr>

	<div class="row">
		<div class="span12">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>{{ _("Hostname") }}</th>
						<th>{{ _("Architectures") }}</th>
						<th>{{ _("Jobs") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for builder in builders %}
						<tr>
							<td class="lead">
								{% if builder.state == "disabled" %}
									<i class="icon-remove muted"></i>
								{% elif builder.state == "offline" %}
									<i class="icon-remove text-warning"></i>
								{% elif builder.state == "online" %}
									<i class="icon-ok text-success"></i>
								{% end %}
							</td>
							<td>
								<a href="/builder/{{ builder.name }}">{{ builder.name }}</a>
								{% if builder.overload %}
										<span class="label label-important pull-right">{{ _("Overload") }}</span>
								{% end %}
								<br>
								{{ builder.cpu_model or _("Unknown CPU") }} - {{ format_size(builder.memory) }}
							</td>
							<td>
								{% if builder.arches %}
									{{ locale.list([a.name for a in builder.arches]) }}
								{% else %}
									{{ _("N/A") }}
								{% end %}
							</td>
							<td>
								<p class="{% if builder.count_active_jobs() == 0 %}text-success{% elif builder.count_active_jobs() >= builder.max_jobs %}text-error{% else %}text-warning{% end %}">
									{{ builder.count_active_jobs() }}/{{ builder.max_jobs }}
								</p>
							</td>
						</tr>
					{% end %}
				</tbody>
			</table>

			{% if current_user and current_user.is_admin() %}
				<div class="btn-group pull-right">
					<a class="btn" href="/builder/new">{{ _("Create new builder") }}</a>
				</div>
			{% end %}
		</div>
	</div>
{% end block %}
