{% extends "../base.html" %}

{% block title %}{{ _("Statistics") }}{% end block %}

{% block body %}
	<div class="page-header">
		<h2>{{ _("Statistics") }}</h2>
	</div>

	<p>
		{{ _("On this page, you will find a lot of information bundled in graphs and figures.") }}
		{{ _("They give a very quick overview about what is going on in the build service.") }}
	</p>

	<h3>{{ _("Builds") }}</h3>
	<ul>
		<li>
			{{ _("The average build time is %.1f minutes.") % (jobs_avg_build_time / 60) }}
		</li>
		<li>
			{{ _("There are %(builds_count)s builds containing %(jobs_count_all)s jobs.") % { "builds_count" : builds_count, "jobs_count_all" : jobs_count_all } }}
		</li>
	</ul>
{% end block %}
