<ul class="builds">
	{% if builds %}
		{% for build in builds %}
			<li>
				{% if build.type == "binary" %}
					<a class="build {{ build.state }}"
						href="/package/{{ build.pkg.name }}/{{ build.pkg.epoch }}/{{ build.pkg.version }}/{{ build.pkg.release }}"
					>{{ build.pkg.friendly_name }}</a>.<a href="/build/{{ build.uuid }}">{{ build.arch }}</a>
				{% elif build.type == "source" %}
					<a class="build {{ build.state }}" href="/build/{{ build.uuid }}">{{ build.name }}</a>
				{% else %}
					{{ _("Unknown build type.") }}
				{% end %}
			</li>
		{% end %}
	{% else %}
		<li>There are no builds to display.</li>
	{% end %}
</ul>
<div style="clear: both;">&nbsp;</div>
