<li class="media">
	<hr>

	{% block body %}
		{% if u %}
			<a class="pull-left hidden-phone" href="/user/{{ u.name }}">
				<img class="media-object" src="{{ u.gravatar_icon(96) }}" alt="{{ u.realname }}">
			</a>
		{% end %}

		<div class="media-body">
			{% block title %}
				<p class="muted pull-right">
					{% block extra-title %}{% end block %}
					{{ format_date(entry.time) }}
				</p>

				{% if entry.user %}
					<h4 class="media-heading">
						{% if current_user == entry.user %}
							<a href="/profile">{{ _("You") }}</a>
						{% else %}
							<a href="/user/{{ entry.user.name }}">{{ entry.user.realname }}</a>
						{% end %}
					</h4>
				{% end %}
			{% end block %}

			{% block message %}
				{% module Text(entry.get_message(current_user), pre=False) %}
			{% end block %}
		</div>
	{% end block %}
</li>
