<div class="row">
	<div class="span6">
		<table class="table">
			<tbody>
				{% if pkg.groups %}
					<tr>
						<td>{{ _("Group", "Groups", len(pkg.groups)) }}</td>
						<td>
							{{ locale.list(pkg.groups) }}
						</td>
					</tr>
				{% end %}

				{% if pkg.url %}
					<tr>
						<td>{{ _("Homepage") }}</td>
						<td>
							{{ linkify(pkg.url, shorten=True, extra_params='target="_blank"', permitted_protocols=["http", "https", "ftp"]) }}
						</td>
					</tr>
				{% end %}

				{% if pkg.license %}
					<tr>
						<td>{{ _("License") }}</td>
						<td>
							{{ escape(pkg.license) }}
						</td>
					</tr>
				{% end %}

				{% if pkg.maintainer %}
					<tr>
						<td>{{ _("Maintainer") }}</td>
						<td>
							{% module Maintainer(pkg.maintainer) %}
						</td>
					</tr>
				{% end %}
			</tbody>
		</table>
	</div>

	<div class="span6">
		<div class="well">
			<h3>{{ _("Description") }}</h3>
			{{ escape(pkg.description) }}
		</div>
	</div>
</div>
