<div class="lead lead-small">
	{% module Text(pkg.description) %}
</div>

<div class="muted">
	<p class="pull-right">
		{% if pkg.url %}
			<i class="icon-home"></i>
			<a href="{{ pkg.url }}" target="_blank">{{ _("Home") }}</a>

			{% if pkg.license or pkg.groups %}&dash;{% end %}
		{% end %}

		{% if pkg.license %}
			{{ _("License") }}: {{ pkg.license }}

			{% if pkg.groups %}&dash;{% end %}
		{% end %}

		{% if pkg.groups %}
			{{ _("Group", "Groups", len(pkg.groups)) }}: {{ locale.list(pkg.groups) }}
		{% end %}
	</p>

	{% if pkg.maintainer %}
		<p>
			{{ _("This package is maintained by") }} {% module Maintainer(pkg.maintainer) %}.
		</p>
	{% end %}
</div>
