body {
	position: relative;
	padding-top: 55px;

	background-image: linear-gradient(
		bottom,
		#000000 0%,
		#880400 57%
	);
	background-image: -o-linear-gradient(
		bottom,
		#000000 0%,
		#880400 57%
	);
	background-image: -moz-linear-gradient(
		bottom,
		#000000 0%,
		#880400 57%
	);
	background-image: -webkit-linear-gradient(
		bottom,
		#000000 0%,
		#880400 57
	);
	background-image: -ms-linear-gradient(
		bottom,
		#000000 0%,
		#880400 57%
	);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #000000),
		color-stop(0.57, #880400)
	);
	background-attachment: fixed;
}

.container-body {
	background-color: white;

	padding: 20px;
}

.ac {
	text-align: center;
}

.clear {
	clear: both;
}

.dropdown-login {
	padding: 15px;
	padding-bottom: 0px;
}

.dropdown-login input[type="submit"] {
	clear: left;
	width: 100%;
}

.dropdown-login .links {
	text-align: center;
	margin-bottom: 15px;
}

.lead-small {
	font-size: 21px;
}

.line-through {
	text-decoration: line-through;
}

.jobs-boxes .well {
	background: #fff;
}

.jobs-boxes h4 p {
	font-weight: bold;
}

.jobs-boxes .warning {
	background-color: #fcf8e3;
}

.jobs-boxes .error {
	background-color: #f2dede;
}

.jobs-boxes .success {
	background-color: #dff0d8;
}

.jobs-boxes .info {
	background-color: #d9edf7;
}

.jobs-boxes .well table td {
	width: 50%;
}

.well-white {
	background-color: white;
}

p.huge {
	font-size: 4em;
	font-weight: bold;
	margin-top: 0.2em;
	margin-bottom: 0.4em;
}
