div.log {
	width: 95%;

	border: 1px dotted #515151;
}

div.log div.log-entry {
	border: 1px solid black;
}

div.log div.log-entry div.log-title a {
	font-weight: bold;
}

div.log div.log-entry div.log-message {
	margin: 0.4em 1em 0.4em 1em;
}

div.log div.log-entry div.log-footer {
	font-style: italic;
}

div.log div.log-entry div.comment-vote {

}

div.log div.log-entry div.comment-vote-up {
	color: #33ff66;
}

div.log div.log-entry div.comment-vote-down {
	color: #ee2222;
}
