{% extends "../base.html" %}

{% block title %}{{ _("Manage builder %s") % builder.hostname }}{% end block %}

{% block body %}
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
					<li class="breadcrumb-item"><a href="/builders">{{ _("Builders") }}</a></li>
					<li class="breadcrumb-item"><a href="/builder/{{ builder.name }}">{{ builder.name }}</a></li>
					<li class="breadcrumb-item active">
						<a href="/builder/{{ builder.name }}/edit">{{ _("Manage") }}</a>
					</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h2 style="word-wrap: break-word;">
				{{ _("Manage builder: %s") % builder.hostname }}
			</h2>
		</div>
	</div>


	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<form method="POST" action="">
				{% raw xsrf_form_html() %}
				<fieldset>
					<div class="form-group">
						<label for="name">{{ _("Hostname") }}</label>
						<input type="text" class="form-control" id="name" name="name"
							aria-describedby="nameHelp" value="{{ builder.hostname }}" disabled>
						<small id="nameHelp" class="form-text text-muted">
								{{ _("The hostname cannot be changed.") }}
						</small>
					</div>

					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" id="enabled" name="enabled"
								aria-describedby="enabledHelp" {% if builder.enabled %}checked{% end %}>
							{{ _("Enabled") }}
						</label>
						<small id="enabledHelp" class="form-text text-muted">
								{{ _("The builder must be enabled in order to process build jobs.") }}
						</small>
					</div>
				</fieldset>

				<fieldset>
					<legend>{{ _("Build job settings") }}</legend>
					<div class="form-group">
						<label for="max_jobs">{{ _("Maximum number of parallel build jobs") }}</label>
						<select class="form-control" id="max_jobs" name="max_jobs" aria-describedby="max_jobsHelp">
							{% for i in range(1, (2 * builder.cpu_count) + 1) %}
								<option value="{{ i }}" {% if i == builder.max_jobs %}selected="selected"{% end %}>{{ i }}</option>
							{% end %}
						</select>
						<small id="max_jobsHelp" class="form-text text-muted">
							{{ _("This is the number of build jobs that are started in parallel.") }}
						</small>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" name="testmode"
								aria-describedby="testmodeHelp" {%if builder.testmode %}checked{% end %}>
								{{ _("Test Mode") }}
						</label>
					</div>
				</fieldset>

				<button type="submit" class="btn btn-primary">{{ _("Save changes") }}</button>
				<a class="btn" href="/builder/{{ builder.name }}">{{ _("Cancel") }}</a>
			</form>
		</div>
	</div>
{% end block %}
