{% extends "../base.html" %}

{% block title %}{{ _("Builders") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/builders">{{ _("Builders") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h2>{{ _("Builders") }}</h2>
	</div>

	<div class="row">
		<div class="span12">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>{{ _("Hostname") }}</th>
						<th>{{ _("Architecture") }}</th>
						<th>{{ _("Jobs") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for builder in builders %}
						<tr>
							<td class="lead">
								{% if builder.state == "disabled" %}
									<i class="icon-remove muted"></i>
								{% elif builder.state == "offline" %}
									<i class="icon-remove text-warning"></i>
								{% elif builder.state == "online" %}
									<i class="icon-ok text-success"></i>
								{% end %}
							</td>
							<td>
								<a href="/builder/{{ builder.name }}">{{ builder.name }}</a>
								<br>
								{{ builder.cpu_model or _("Unknown CPU") }}
								{% if builder.mem_total %}
									- {{ format_size(builder.mem_total) }}
								{% end %}
							</td>
							<td>
								{{ builder.cpu_arch or _("Unknown") }}
							</td>
							<td>
								<p class="{% if not builder.active_jobs %}text-success{% elif len(builder.active_jobs) >= builder.max_jobs %}text-error{% else %}text-warning{% end %}">
									{{ len(builder.active_jobs) }}/{{ builder.max_jobs }}
								</p>
							</td>
						</tr>
					{% end %}
				</tbody>
			</table>

			{% if current_user and current_user.is_admin() %}
				<div class="btn-group pull-right">
					<a class="btn" href="/builder/new">{{ _("Create new builder") }}</a>
				</div>
			{% end %}
		</div>
	</div>
{% end block %}
