{% extends "../base.html" %}

{% block body %}
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
					<li class="breadcrumb-item"><a href="/builders">{{ _("Builders") }}</a></li>
					<li class="breadcrumb-item"><a href="/builders/{{ builder.name }}">{{ builder.name }}</a></li>
					<li class="breadcrumb-item active">
						<a href="/builders/{{ builder.name }}/edit">{{ _("Manage") }}</a>
					</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h2 style="word-wrap: break-word;">
				{{ _("Builder") }}: {{ builder.name }}
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<p>
				{% if action == "new" %}
					{{ _("The new host") }} <strong> {{ builder.name }} </strong> {{ _("has been successfully created.") }}
				{% elif action == "update" %}
					{{ _("The passphrase for") }}  <strong> {{ builder.name }}</strong> {{ _("has been regenerated.") }}
				{% end %}
				<br>
				{{ _("For authorization to the Pakfire Master Server there is a passphrase required which must be configured to the host.") }}
			</p>

			<p>
				{{ _("This passphrase is:") }} <strong>{{ passphrase }}</strong>
			</p>
		</div>
	</div>

	<div class="row justify-content-end">
		<div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
				<a class="btn btn-primary btn-block" href="/builders/{{ builder.name }}">{{ _("Next") }}</a>
		</div>
	</div>
{% end block %}
