<li class="media">
	<div class="media-body">
		<div class="well {% if build.type == "release" and build.repo %}well-build-state-{{ build.repo.type }}{% elif build.type == "scratch" %}well-build-type-scratch{% end %}">
			<h4>
				<a class="{% if build.is_broken() %}line-through{% end %}" href="/build/{{ build.uuid }}">{{ build.name }}</a>

				{% if build.type == "release" and build.repo %}
					<small class="pull-right">
						<a href="/distro/{{ build.repo.distro.identifier }}/repo/{{ build.repo.name }}">
							{{ build.repo.distro.name }} &dash;
							{% if build.repo.type == "stable" %}
								<span class="text-success">{{ build.repo.name }}</span>
							{% elif build.repo.type == "unstable" %}
								<span class="text-warning">{{ build.repo.name }}</span>
							{% elif build.repo.type == "testing" %}
								<span class="text-error">{{ build.repo.name }}</span>
							{% end %}
						</a>
					</small>
				{% elif build.type == "scratch" %}
					<span class="label label-important pull-right">
						{{ _("Scratch build") }}
					</span>
				{% end %}
			</h4>

			<hr>

			{% if build.type == "release" %}
				{% if build.commit %}
					{% module CommitMessage(build.commit) %}

					<hr>

					<p class="muted">
						{{ _("Author") }} {% module Maintainer(build.commit.author) %}
						<span class="pull-right">{{ locale.format_date(build.created, shorter=True) }}</span>
					</p>
				{% else %}
					<p class="muted">
						{{ _("No commit message.") }}
						<span class="pull-right">{{ locale.format_date(build.created, shorter=True) }}</span>
					</p>
				{% end %}

			{% elif build.type == "scratch" %}
				<p class="muted">
					{{ _("Owner") }} {% module Maintainer(build.owner) %}

					<span class="pull-right">{{ locale.format_date(build.created, shorter=True) }}</span>
				</p>
			{% end %}
		</div>
	</div>
</li>
