<div class="card mb-3
		{% if build.type == "release" and build.repo.type == "stable" %}
			border-success
		{% elif build.type == "release" and build.repo.type == "unstable" %}
			border-warning
		{% elif build.type == "release" and build.repo.type == "testing" %}
			border-danger
		{% elif build.type == "scratch" %}
			border-danger
		{% end %}" style="width:100%;">
		<div class="card-header
		{% if build.type == "release" and build.repo %}
			{% if build.repo.type == "stable" %}
				text-success">
				<a href="/distro/{{ build.repo.distro.identifier }}/repo/{{ build.repo.name }}">
					{{ build.repo.distro.name }} &dash; {{ build.repo.name }}
				</a>
			{% elif build.repo.type == "unstable" %}
				text-warning">
				<a href="/distro/{{ build.repo.distro.identifier }}/repo/{{ build.repo.name }}">
					{{ build.repo.distro.name }} &dash; {{ build.repo.name }}
				</a>
			{% elif build.repo.type == "testing" %}
				text-danger">
				<a href="/distro/{{ build.repo.distro.identifier }}/repo/{{ build.repo.name }}">
					{{ build.repo.distro.name }} &dash; {{ build.repo.name }}
				</a>
			{% end %}
		{% elif build.type == "scratch" %}
			text-secondary">
			{{ _("Scratch build") }}
		{% end %}
		</div>
		<div class="card-body">
			<h4 class="card-title">
				<a href="/build/{{ build.uuid }}">
					{% if build.is_broken() %}
						<s>{{ build.name }}</s>
					{% else %}
						{{ build.name }}
					{% end %}
				</a>
			</h4>

			<hr>

			{% if build.type == "release" %}
				{% if build.commit %}
					{% module CommitMessage(build.commit) %}

					<hr>

					<p class="muted">
						{{ _("Author") }} {% module LinkToUser(build.commit.author) %}
					</p>
				{% else %}
					<p class="muted">
						{{ _("No commit message.") }}
					</p>
				{% end %}

			{% elif build.type == "scratch" %}
				<p class="muted">
					{{ _("Owner") }} {% module LinkToUser(build.owner) %}
				</p>
			{% end %}
			</div>
			<div class="card-footer text-muted text-right">
				{{ locale.format_date(build.created, shorter=True) }}
			</div>

</div>
