{% extends "base.html" %}

{% block title %}{{ _("Build") }}: {{ build.name }}{% end block %}

{% block body %}
	{% if build.type == "binary" %}
		<h1>{{ _("Build") }}: <a href="/package/{{ build.pkg.name }}/{{ build.pkg.epoch }}/{{ build.pkg.version }}/{{ build.pkg.release }}">{{ build.name }}</a></h1>
	{% elif build.type == "source" %}
		<h1>{{ _("Build") }}: {{ build.name }}</h1>
	{% end %}

	<table class="form form2">
		<tr>
			<td class="col1">{{ _("ID") }}</td>
			<td class="col2">{{ build.uuid }}</td>
		</tr>
		<tr>
			<td class="col1">{{ _("State") }}</td>
			<td class="col2">{{ build.state }}</td>
		</tr>

		{% if build.type == "binary" %}
			<tr>
				<td class="col1">{{ _("Package") }}</td>
				<td class="col2">
					<a href="/package/{{ build.pkg.name }}/{{ build.pkg.epoch }}/{{ build.pkg.version }}/{{ build.pkg.release }}">{{ build.pkg.friendly_name }}</a>
				</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Source build") }}</td>
				<td class="col2">
					<a href="/build/{{ build.source_build.uuid }}">{{ build.source_build.name }}</a>
				</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Architecture") }}</td>
				<td class="col2">{{ build.arch }}</td>
			</tr>
		{% end %}

		<tr>
			<td class="col1">{{ _("Host") }}</td>
			{% if build.host %}
				<td class="col2">
					<a href="/builder/{{ build.host.name }}">{{ build.host.name }}</a>
				</td>
			{% else %}
				<td class="col2">{{ _("No host assigned, yet.") }}</td>
			{% end %}
		</tr>
		<tr>
			<td class="col1">
				{{ _("Priority") }}
			</td>
			<td class="col2">
				{% if build.priority >= 2 %}
					{{ _("Very high") }}
				{% elif build.priority == 1 %}
					{{ _("High") }}
				{% elif build.priority == 0 %}
					{{ _("Medium") }}
				{% elif build.priority == -1 %}
					{{ _("Low") }}
				{% elif build.priority <= -2 %}
					{{ _("Very low") }}
				{% end %}
			</td>
		</tr>
	</table>
	<div style="clear: both;">&nbsp;</div>

	{% if build.type == "source" %}
		<h2>{{ _("Commit") }}: {{ escape(build.commit_subject) }}</h2>
		<table class="form form2">
			{% if build.commit_body %}
				<tr>
					<td colspan="2">
						{{ escape(build.commit_body) }}
					</td>
				</tr>
			{% end %}
			<tr>
				<td class="col1">{{ _("Author") }}</td>
				<td class="col2">{{ escape(build.commit_author) }}</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Committer") }}</td>
				<td class="col2">{{ escape(build.commit_committer) }}</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Date") }}</td>
				<td class="col2">{{ locale.format_date(build.commit_date or 0, full_format=True) }}</td>
			</tr>
		</table>
		<div style="clear: both;">&nbsp;</div>
	{% end %}

	<h3>{{ _("Time") }}</h3>

	<table class="form form2">
		<tr>
			<td class="col1">{{ _("Job added") }}</td>
			<td class="col2">{{ build.time_added }}</td>
		</tr>
		<tr>
			<td class="col1">{{ _("Job started") }}</td>
			<td class="col2">{{ build.time_started or _("Not started, yet.") }}</td>
		</tr>
		<tr>
			<td class="col1">{{ _("Job finished") }}</td>
			<td class="col2">{{ build.time_finished or _("Not finished, yet.") }}</td>
		</tr>

		{% if build.duration %}
			<tr>
				<td class="col1">{{ _("Duration") }}</td>
				<td class="col2">{{ build.duration }}</td>
			</tr>
		{% end %}
	</table>
	<div style="clear: both;">&nbsp;</div>

	{% if build.packagefiles %}
		<h3>{{ _("Package files") }}</h3>
		{{ modules.FilesTable(build.packagefiles) }}
	{% end %}

	{% if build.logfiles %}
		<h3>{{ _("Logfiles") }}</h3>
		{{ modules.FilesTable(build.logfiles) }}
	{% end %}

	<h3>{{ _("Log") }}</h3>
	{{ modules.LogTable(build.log) }}
{% end block %}

{% block sidebar %}
	<h1>{{ _("Actions") }}</h1>
	<ul>
		{% if build.state == "failed" %}
			<li><a href="/build/schedule/{{ build.uuid }}?type=rebuild">{{ _("Re-submit build") }}</a></li>
			<li><a href="?action=perm_failed">{{ _("Mark as permanently failed") }}</a></li>
		{% end %}

		{% if build.type == "binary" and build.state == "finished" %}
			<li><a href="/build/schedule/{{ build.uuid }}?type=test">{{ _("Schedule test build") }}</a></li>
		{% end %}

		<li><a href="/build/priority/{{ build.uuid }}">{{ _("Modify priority") }}</a></li>
	</ul>
{% end %}
