{% extends "base.html" %}

{% block title %}{{ _("Builder") }}: {{ builder.name }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/builders">{{ _("Builders") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/builder/{{ builder.name }}">{{ builder.name }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h2>{{ _("Builder") }}: {{ builder.name }}</h2>
	</div>

	{% if builder.overload %}
		<div class="alert alert-block alert-warning">
			<h4 class="alert-heading">{{ _("Warning") }}!</h4>
			{{ _("This builder is overloaded.") }}
			{{ _("That means it will not take any additional jobs although it has not reached its threshold of running jobs, yet.") }}
			{{ _("New jobs will be started automatically after the load decreased.") }}
		</div>
	{% end %}

	<div class="row">
		<div class="span5">
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
						<td>{{ _("State") }}</td>
						<td>
							{% if builder.status == "enabled" %}
								{{ _("Enabled") }}
							{% elif builder.status == "disabled" %}
								{{ _("Disabled") }}
							{% elif builder.status == "deleted" %}
								{{ _("Deleted") }}
							{% else %}
								{{ _("Unknown status: %s") % builder.status }}
							{% end %}
						</td>
					</tr>
					<tr>
						<td>{{ _("Parallel builds") }}</td>
						<td>{{ _("One job only.", "Up to %(num)s jobs.", builder.max_jobs) % { "num" : builder.max_jobs } }}</td>
					</tr>
					<tr>
						<td>{{ _("This host builds") }}</td>
						<td>
							<ul>
								{% for type in builder.build_types %}
									<li>
										{% if type == "release" %}
											{{ _("Release builds") }}
										{% elif type == "scratch" %}
											{{ _("Scratch builds") }}
										{% elif type == "test" %}
											{{ _("Test builds") }}
										{% end %}
									</li>
								{% end %}
							</ul>
						</td>
					</tr>
				</tbody>
			</table>

			{% if builder.description %}
				<h2>{{ _("Remarks") }}</h2>
				<p>
					{% module Text(builder.description) %}
				</p>
			{% end %}
		</div>

		<div class="span7">
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
						<td>{{ _("Pakfire version") }}</td>
						<td>
							{{ builder.pakfire_version or _("N/A") }}
						</td>
					</tr>
					<tr>
						<td>{{ _("Supported architectures") }}</td>
						<td>
							{{ locale.list([a.name for a in builder.get_arches() ]) }}

							{% if builder.disabled_arches %}
								({{ _("disabled: %s") % locale.list([a.name for a in builder.disabled_arches]) }})
							{% end %}
						</td>
					</tr>
					<tr>
						<td>{{ _("CPU model") }}</td>
						<td>
							{{ builder.cpu_model or _("Unknown") }}
						</td>
					</tr>
					<tr>
						<td>{{ _("CPU count") }}</td>
						<td>{{ builder.cpu_count }}</td>
					</tr>
					<tr>
						<td>{{ _("Memory") }}</td>
						<td>{{ format_size(builder.memory) }}</td>
					</tr>
					<tr>
						<td>{{ _("Load average") }}</td>
						<td>
							{{ builder.loadavg or _("N/A") }}
							{% if builder.overload %}
									<span class="label label-important">{{ _("Overload") }}</span>
							{% end %}
						</td>
					</tr>
					<tr>
						<td>{{ _("Free disk space") }}</td>
						<td>{{ format_size(builder.free_space * 1024**2) }}</td>
					</tr>

					<tr>
						<td>{{ _("Host key") }}</td>
						<td>
							{{ builder.host_key_id or _("N/A") }}
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>

	{% if current_user and current_user.has_perm("maintain_builders") %}
		<hr>

		<div class="btn-toolbar ac">
			{% if builder.enabled %}
				<a class="btn btn-danger" href="/builder/{{ builder.name }}/disable">
					{{ _("Disable builder") }}
				</a>
			{% else %}
				<a class="btn btn-success" href="/builder/{{ builder.name }}/enable">
					{{ _("Enable builder") }}
				</a>
			{% end %}

			<a class="btn" href="/builder/{{ builder.name }}/edit">
				<i class="icon-edit"></i>
				{{ _("Edit builder") }}
			</a>

			{% if not builder.enabled %}
				<a class="btn" href="/builder/{{ builder.name }}/renew">
					<i class="icon-refresh"></i>
					{{ _("Renew passphrase") }}
				</a>
			{% end %}

			<a class="btn" href="/builder/{{ builder.name }}/delete">
				<i class="icon-trash"></i>
				{{ _("Delete builder") }}
			</a>
		</div>
	{% end %}

	<hr>

	<h3>{{ _("Log") }}</h3>
	{% module Log(builder.get_history(limit=5)) %}
{% end block %}
