{% extends "base.html" %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/builders">{{ _("Builders") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/builder/{{ builder.name }}">{{ builder.name }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/builder/{{ builder.name }}/edit">{{ _("Manage") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Builder") }}: {{ builder.name }}</h1>
	</div>

	<div class="row">
		<div class="span6 offset3">
			<p>
				{% if action == "new" %}
					{{ _("The new host <strong>%s</strong> has been successfully created.") % builder.name }}
				{% elif action == "update" %}
					{{ _("The passphrase for <strong>%s</strong> has been regenerated.") % builder.name }}
				{% end %}

				{{ _("For authorization to the Pakfire Master Server there is a passphrase required which must be configured to the host.") }}
			</p>

			<p>
				{{ _("This passphrase is:") }} <strong>{{ passphrase }}</strong>
			</p>

			<p class="pull-right">
				<a class="btn btn-primary" href="/builder/{{ builder.name }}">{{ _("Next") }}</a>
			</p>
		</div>
	</div>
{% end block %}
