{% extends "base.html" %}

{% block title %}{{ _("Delete builder %s") % builder.name }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/builders">{{ _("Builders") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/builder/{{ builder.name }}">{{ builder.name }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/builder/{{ builder.name }}/delete">{{ _("Delete") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Builder") }}: {{ builder.name }}</h1>
	</div>

	<div class="row">
		<div class="span6 offset3">
			<p>
				{{ _("You are going to delete the build host <strong>%s</strong>.") % builder.name }}
			</p>

			<div class="btn-toolbar">
				<div class="btn-group pull-right">
					<a class="btn btn-danger" href="/builder/{{ builder.name }}/delete?confirmed=1">
						{{ _("Delete %s") % builder.name }}
					</a>
					<a class="btn" href="/builder/{{ builder.name }}">{{ _("Cancel") }}</a>
				</div>
			</div>
		</div>
	</div>
{% end block %}
