{% extends "base.html" %}

{% block title %}{{ _("Build job list") }}{% end block %}

{% block body %}
	<h1>{{ _("Filter builds") }}</h1>
	<form method="get" action="/builds">
		<table class="form form3">
			<tr>
				<td class="col1">
					{{ _("Distribution") }}
				</td>
				<td class="col2">
					<select name="distro">
						<option value="">{{ _("Any") }}</option>

						{% for distro in distros %}
							<option value="{{ escape(distro.identifier) }}">{{ escape(distro.name) }}</option>
						{% end %}
					</select>
				</td>
				<td class="col3">
					{{ _("Show only builds in that distribution.") }}
				</td>
			</tr>
			<tr>
				<td class="col1">{{ _("State") }}</td>
				<td class="col2">
					<select name="state">
<!-- XXX does not apply to builds <option value="">{{ _("All") }}</option>
						<option value="running">{{ _("Running") }}</option>
						<option value="pending">{{ _("Pending") }}</option>
						<option value="finished">{{ _("Finished") }}</option>
						<option value="failed">{{ _("Failed") }}</option>
						<option value="permanently_failed">{{ _("Permanently failed") }}</option>
						<option value="dispatching">{{ _("Dispatching") }}</option>
						<option value="uploading">{{ _("Uploading") }}</option> -->

						<option value="">{{ _("Any") }}</option>
						<option value="building">{{ _("Building") }}</option>
						<option value="testing">{{ _("Testing") }}</option>
						<option value="stable">{{ _("Stable") }}</option>
						<option value="obsolete">{{ _("Obsolete") }}</option>
						<option value="broken">{{ _("Broken") }}</option>
					</select>
				</td>
				<td class="col3">
					{{ _("Only show builds with given state.") }}
				</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Build host") }}</td>
				<td class="col2">
					<select name="builder">
						<option value="">{{ _("Any") }}</option>
						{% for builder in builders %}
							<option value="{{ escape(builder.name) }}">{{ escape(builder.name) }}</option>
						{% end %}
					</select>
				</td>
				<td class="col3">
					{{ _("Display only builds by selected host.") }}
				</td>
			</tr>
			<tr>
				<td colspan="3" class="buttons">
					<input type="submit" value="{{ _("Submit") }}" />
				</td>
			</tr>
		</table>
	</form>
{% end block %}

{% block sidebar %}
	<h1>{{ _("Actions") }}</h1>
	<ul>
		<li><a href="/builds">{{ _("Show all builds") }}</a></li>
	</ul>
{% end block %}
