{% extends "base.html" %}

{% block title %}{{ _("Create new builder") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/builders">{{ _("Builders") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/builder/new">{{ _("Create new builder") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Create a new builder") }}</h1>
	</div>

	<div class="row">
		<div class="span6 offset3">
			<form class="form-horizontal" method="POST" action="">
				{% raw xsrf_form_html() %}
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="name">{{ _("Hostname") }}</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="name" name="name">

							<p class="help-block">
								{{ _("Enter the canonical hostname of the machine.") }}
							</p>
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">{{ _("Create new builder") }}</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% end block %}
