{% extends "base.html" %}

{% block title %}{{ _("Build") }}: {{ build.name }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/packages">{{ _("Packages") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/package/{{ build.pkg.name }}">{{ build.pkg.name }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/build/{{ build.uuid }}">{{ build.name }}</a>
		</li>
	</ul>

	{% module BuildHeadline(_("Build"), build) %}
	{% module BuildStateWarnings(build) %}
	{% module PackageHeader(pkg) %}

	{% if build.type == "scratch" and build.has_perm(current_user) %}
		<div class="btn-toolbar pull-right">
			<a class="btn btn-danger" href="/build/{{ build.uuid }}/delete">
				<i class="icon-trash icon-white"></i>
				{{ _("Delete build") }}
			</a>

			{% if current_user.is_admin() %}
				<a class="btn btn-danger" href="/build/{{ build.uuid }}/reset">
					{{ _("Reset build") }}
				</a>
			{% end %}
		</div>
	{% end %}

	<hr>

	{% if build.type == "release" %}
		<div class="row">
			<div class="span6">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#update" data-toggle="tab">{{ _("Update") }}</a>
					</li>

					<li>
						<a href="#bugs" data-toggle="tab">
							{{ _("Fixed bugs") }} ({{ len(bugs) }})
						</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="update">
						<table class="table">
							<tbody>
								{% if build.pkg.commit %}
									<tr>
										<td>{{ _("Commit") }}</td>
										<td>
											<a href="/distro/{{ build.distro.identifier }}/source/{{ build.pkg.commit.source.identifier }}/{{ build.pkg.commit.revision }}">{{ build.pkg.commit.revision[:7] }}</a>
											- {{ build.pkg.commit.subject }}
										</td>
									</tr>
								{% end %}

								<tr>
									<td>{{ _("Severity") }}</td>
									<td>
										{% if build.severity is None %}
											{{ _("Unspecified") }}
										{% elif build.severity == "security update" %}
											{{ _("Security update") }}
										{% elif build.severity == "bugfix update" %}
											{{ _("Bug fix update") }}
										{% elif build.severity == "enhancement" %}
											{{ _("Enhancement") }}
										{% elif build.severity == "new package" %}
											{{ _("New package") }}
										{% else %}
											{{ _("Unhandled: %s") % build.severity }}
										{% end %}
									</td>
								</tr>

								{% if build.message %}
									<tr>
										<td colspan="2">
											{% module Text(build.message) %}
										</td>
									</tr>
								{% end %}
							</tbody>
						</table>
					</div>

					<div class="tab-pane" id="bugs">
						{% if bugs %}
							{% module BugsTable(pkg, bugs) %}
						{% else %}
							<p>
								{{ _("Nothing in here, yet.") }}
							</p>
						{% end %}

						<div class="btn-toolbar pull-right">
							<div class="btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									{{ _("Action") }}
									<span class="caret"></span>
								</a>

								<ul class="dropdown-menu">
									{% if current_user and build.has_perm(current_user) %}
										<li>
											<a href="/build/{{ build.uuid }}/bugs">
												{{ _("Modify bug list") }}
											</a>
										</li>
										<li class="divider"></li>
									{% end %}

									<li>
										<a href="{{ bugtracker.buglist_url(pkg.name) }}" target="_blank">
											{{ _("Show all bugs") }}
										</a>
									<li>
									<li>
										<a href="{{ bugtracker.enter_url(pkg.name) }}" target="_blank">
											{{ _("File a new bug") }}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>				
			</div>

			<div class="span6">
				<h3>{{ _("Repository") }}</h3>

				<table class="table">
					<tbody>
						{% if build.repo %}
							<tr>
								<td>
									{{ build.distro.name }} -
									<a href="/distro/{{ build.distro.identifier }}/repo/{{ build.repo.identifier }}">{{ build.repo.name }}</a>
									{{ _("since %s") % locale.format_date(build.repo_time, relative=False) }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td>
									{{ _("This package does not belong to any repository.") }}
								</td>
							</tr>
						{% end %}

						{% if not build.state == "broken" %}
							<tr>
								<td>
									{% if current_user and build.has_perm(current_user) %}
										<div class="btn-toolbar pull-right">											
											{% if current_user.is_admin() or build.can_move_forward %}
												<div class="btn-group">
													<a class="btn btn-success" href="#push" data-toggle="modal">
														{{ _("Push") }}
													</a>
												</div>

												{% module Modal("build-push", build=build, current_repo=repo, next_repo=next_repo) %}
											{% end %}

											{% if build.repo %}
												<div class="btn-group">
													<a class="btn btn-danger" href="#unpush" data-toggle="modal">
														{{ _("Unpush") }}
													</a>
												</div>

												{% module Modal("build-unpush", build=build, repo=repo) %}
											{% end %}
										</div>
									{% elif build.can_move_forward %}
										{{ _("This package may be pushed forward.") }}
									{% end %}
								</td>
							</tr>
						{% end %}
					</tbody>
				</table>
			</div>
		</div>

		<hr>
	{% end %}
	
	<div class="row">
		<div class="span12">
			<div class="btn-group pull-right">
				<a class="btn btn-primary pull-right" data-toggle="modal" href="#comment" >
					<i class="icon-comment icon-white"></i>
					{{ _("Comment") }}
				</a>
				<a href="#" class="btn">
					{{ _("Score: %s") % build.credits }}
				</a>
			</div>

			{% module Modal("build-comment", build=build) %}

			{% module WatchersSidebarTable(build, build.get_watchers()) %}
			<br />
		</div>
	</div>

	<div class="row">
		<div class="span8">
			{% module Log(log) %}
		</div>

		<div class="span4">
			{% module JobsBoxes(build) %}

			<p class="ac">
				<a href="/package/{{ build.pkg.uuid }}">{{ _("Source package") }}</a>
			</p>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span12">
			<table class="table table-striped table-hover">
				<tr>
					<td>{{ _("Created") }}</td>
					<td>{{ format_date(build.created, full_format=True) }}</td>
				</tr>

				{% if build.owner %}
					<tr>
						<td>{{ _("Owner") }}</td>
						<td>{{ build.owner.realname }}</td>
					</tr>
				{% end %}

				{% if current_user and current_user.is_admin() %}
					<tr>
						<td>{{ _("Public?") }}</td>
						<td>
							{% if build.public %}
								{{ _("Yes") }}
							{% else %}
								{{ _("No") }}
							{% end %}
						</td>
					</tr>
				{% end %}

				<tr>
					<td>{{ _("Priority") }}</td>
					<td>
						<a href="/build/{{ build.uuid }}/priority">
							{% if build.priority >= 2 %}
								{{ _("Very high") }}
							{% elif build.priority == 1 %}
								{{ _("High") }}
							{% elif build.priority == 0 %}
								{{ _("Medium") }}
							{% elif build.priority == -1 %}
								{{ _("Low") }}
							{% elif build.priority <= -2 %}
								{{ _("Very low") }}
							{% end %}
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
{% end block %}
