{% extends "docs-base.html" %}

{% block title %}{{ _("Documentation index") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/documents">{{ _("Documentation") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Documents") }}</h1>
	</div>

	<div class="row">
		<div class="span6">
			<p>
				{{ _("This is a collection of documents that should be read by everybody who is using this system.") }}
			</p>

			<ul>
				<li>
					<a href="/documents/what-is-the-pakfire-build-service">
						{{ _("What is the pakfire build service?") }}
					</a>
				</li>
				<li>
					<a href="http://wiki.ipfire.org/devel/pakfire/start" target="_blank">
						{{ _("General pakfire documentation") }}
					</a>
				</li>
				<li>
					<a href="http://wiki.ipfire.org/devel/packaging_guidelines/start" target="_blank">
						{{ _("Packaging guidelines") }}
					</a>
				</li>
				<li>
					<a href="/documents/builds">{{ _("Builds") }}</a>
				</li>
				<li>
					<a href="/documents/users">{{ _("Users") }}</a>
				</li>
			</ul>

			<p>
				{{ _("This documentation you find at this place is not completed yet.") }}
				{{ _("Feel free to make any suggestions.") }}
			</p>
		</div>

		<div class="span6">
			<h2>{{ _("Contact") }}</h2>
			<p>
				{{ _("If you need help using the build service or have some general questions please use our mailing list.") }}
				{{ _("You can also talk to the developers and suggest feature enhancements.") }}
			</p>
			<p class="pull-right">
				<a href="http://lists.ipfire.org/mailman/listinfo/pakfire" target="_blank">
					{{ _("Mailing list") }}
				</a>
			</p>

			<h2>{{ _("Bug reports") }}</h2>
			<p>
				{{ _("Please visit Bugzilla to create bug reports on the Pakfire Build System.") }}
			</p>
			<p class="pull-right">
				<a href="https://bugzilla.ipfire.org/describecomponents.cgi?product=Pakfire" target="_blank">
					Bugzilla
				</a>
			</p>
		</div>
	</div>
{% end %}
