{% extends "docs-base.html" %}

{% block title %}{{ _("Documentation") }} - {{ _("User groups") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/documents">{{ _("Documentation") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/documents/users">{{ _("User groups") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Documentation") }}: {{ _("User groups") }}</h1>
	</div>

	<h1>{{ _("Users") }}</h1>
	<p>
		{{ _("All users can join the Pakfire Build Service and are separated into three groups:") }}
	</p>

	<h2>{{ _("Developers") }}</h2>
	<p>
		{{ _("Developers manage this build service and have access to all parts of it.") }}
		{{ _("They are responsible to keep the system running and able to push package updates to the repostories.") }}
	</p>
	<p class="pull-right">
		<a href="/documents/guidelines/developers">{{ _("Guidelines for developers") }}</a>
	</p>

	<h2>{{ _("Testers") }}</h2>
	<p>
		{{ _("Testers are like users but have the right to vote on packages, which is used to figure out the quality of the package.") }}
		{{ _("Everyone can become a tester after he or she has proven to know the IPFire system very well.") }}
		{{ _("On these people depends a very huge amount of the quality of the distribution that is made out of the feedback they give.") }}
	</p>
	<p class="pull-right">
		<a href="/documents/guidelines/testers">{{ _("Guidelines for testers") }}</a>
	</p>

	<h2>{{ _("Users") }}</h2>
	<p>
		{{ _("Everybody can join the Pakfire Build Service by registering an account.") }}
		{{ _("After a successful activation you are able to leave comments on packages and give feedback to the developers about its status.") }}
	</p>

	{% if not current_user %}
		<p class="pull-right">
			<a href="/register">{{ _("Register") }}</a>
		</p>
	{% end %}
{% end %}
