{% extends "docs-base.html" %}

{% block title %}{{ _("Documentation") }} - {{ _("Legend of the build states") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/documents">{{ _("Documentation") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/documents/what-is-the-pakfire-build-service">{{ _("What is the Pakfire Build Service?") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Documentation") }}: {{ _("What is the Pakfire Build Service?") }}</h1>
	</div>

	<div class="row">
		<div class="span8 offset2">
			<p>
				{{ _("On this page, you will find out what the Pakfire Build Service really is.") }}
				{{ _("Read carefully.") }}
			</p>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ _("Yeah, that's it!") }}</th>
						<th>{{ _("No, that's not it!") }}</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>
							<p>
								{{ _("PBS is a tool where people can give feedback to developers.") }}
								{{ _("It is possible to leave comments and rate builds.") }}
							</p>
						</td>
					
						<td>
							<p>
								{{ _("PBS is <strong>NOT</strong> a bugtracker.") }}
								{{ _("To report bugs please use our bugtracker liked below if you want them to get fixed.") }}
							</p>

							<p>
								<a class="pull-right" href="http://bugtracker.ipfire.org" target="_blank">{{ _("Bugtracker") }}</a>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% end %}
