{% extends "base.html" %}

{% block title %}{{ _("Welcome to the Pakfire Build Service") }}{% end block %}

{% block body %}
	{% if current_user %}
		<div class="page-header">
			<h2>{{ _("Welcome, %s!") % current_user.firstname }}</h2>
		</div>


	{% else %}
		<div class="hero-unit ac" style="background-color: white">
			<br>
			<h1>
				{{ _("Pakfire Build Service") }}
			</h1>

			<hr>

			<h2>
				<small>{{ _("Development powered by community!") }}</small>
			</h2>
		</div>

		<hr>
	{% end %}

	{% if updates %}
		<div class="row">
			<div class="span12">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						{% for type, updts, active in updates %}
							<li {% if active %}class="active"{% end %}>
								<a href="#updates_{{ type }}" data-toggle="tab">
									{% if type == "stable" %}
										{{ _("Latest stable updates") }}
									{% elif type == "unstable" %}
										{{ _("Unstable updates") }}
									{% elif type == "testing" %}
										{{ _("Testing updates") }}
									{% end %}
								</a>
							</li>
						{% end %}
					</ul>

					<div class="tab-content">
						{% for type, updts, active in updates %}
							<div class="tab-pane {% if active %}active{% end %}" id="updates_{{ type }}">
								{% module UpdatesTable(updts) %}
							</div>
						{% end %}
					</div>
				</div>

				<p class="pull-right">
					<a href="/updates">{{ _("View more updates...") }}</a>
				</p>

				<br style="clear: both;">
			</div>
		</div>
	{% end %}

	{% if jobs %}
		<hr>

		<h4>{{ _("Build jobs") }}</h4>
		{% module JobsList(jobs) %}
	{% end %}

	<a href="/jobs">{{ _("Show more build jobs") }}</a>
{% end %}
