{% extends "base.html" %}

{% block title %}{{ _("Jobs") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/jobs">{{ _("Jobs") }}</a>
		</li>
	</ul>

	<ul class="nav nav-pills pull-right">
		<li>
			<a href="/jobs/filter">{{ _("Filter jobs") }}</a>
		</li>
	</ul>

	<div class="page-header">
		<h2>{{ _("Jobs") }}</h2>
	</div>

	{% if arch or builder or date %}
		<ul>
			{% if date %}
				<li>
					{{ _("Showing only jobs from %s.") % date }}
				</li>
			{% end %}

			{% if builder %}
				<li>
					<a href="/builder/{{ builder.name }}">
						{{ _("Showing only builds that have been built on %s.") % builder.name }}
					</a>
				</li>
			{% end %}

			{% if arch %}
				<li>
					<a href="/arch/{{ arch.name }}">
						{{ _("Showing only jobs built for %s.") % arch.name }}
					</a>
				</li>
			{% end %}
		</ul>

		<hr>
	{% end %}

	{% module JobsList(jobs) %}
{% end block %}
