{% extends "base.html" %}

{% block title %}{{ _("Login successful") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			{{ _("Login successful") }}
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Login successful") }}</h1>
	</div>

	<div class="row">
		<div class="span6 offset3">
			<p>
				{{ _("Welcome, %s.") % user.realname }}
			</p>

			<p>
				{{ _("Your login to the Pakfire Build Service was successful.") }}
			</p>

			<a class="btn btn-primary pull-right" href="/">{{ _("Start!") }}</a>
		</div>
	</div>
{% end %}
