{% extends "base.html" %}

{% block title %}{{ _("Logout successful") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			{{ _("Logout successful") }}
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Logout successful") }}</h1>
	</div>

	<div class="row">
		<div class="span6 offset3">
			<p>
				{{ _("You have successfully logged out from the Pakfire Build Server.") }}
				{{ _("Have a nice day!") }}
			</p>

			<a class="btn btn-primary pull-right" href="/">{{ _("Goodbye!") }}</a>
		</div>
	</div>
{% end %}
