{% extends "base.html" %}

{% block title %}{{ _("Package list") }}{% end block %}

{% block body %}
	<h1>{{ _("Package list") }}</h1>
	<p>
		{{ _("This is an alphabetically ordered list of all packages in the distribution.") }}
		{{ _("Click on a link to see further information about the package.") }}
	</p>

	<ul class="alphabet">
		<li>{{ _("Quick selection:") }}</li>
		{% for letter in sorted(packages.keys()) %}
			<li><a href="#{{ letter }}">{{ letter.upper() }}</a></li>
		{% end %}
	</ul>
	<div style="clear: both;">&nbsp;</div>

	{% for letter, pkgs in sorted(packages.items()) %}
		{{ modules.PackageTable(letter, pkgs) }}
	{% end %}
{% end block %}
