{% extends "base.html" %}

{% block title %}{{ _("Package") }} {{ pkg.name }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/packages">{{ _("Packages") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/package/{{ pkg.name }}">{{ pkg.name }}</a>
		</li>
	</ul>

	<div class="btn-group pull-right">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			{{ _("Actions") }} <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li class="nav-header">
				{{ _("Bugs") }}
			</li>
			<li>
				<a href="{{ bugtracker.buglist_url(pkg.name) }}" target="_blank">
					{{ _("Show all bugs") }}
				</a>
			</li>
			<li>
				<a href="{{ bugtracker.enter_url(pkg.name) }}" target="_blank">
					{{ _("File new bug") }}
				</a>
			</li>
		</ul>
	</div>

	{% module BuildHeadline(_("Package"), latest_build, shorter=True) %}
	{% module PackageHeader(pkg) %}

	<hr class="clear">

	<div class="row">
		<div class="span8">
			<h3>{{ _("Changelog") }}</h3>

			{% module Changelog(name=name, limit=5) %}

			<hr>
			<p class="ac">
				<a href="/package/{{ name }}/changelog">{{ _("Full changelog") }}</a>
			</p>
		</div>

		<div class="span4">
			{% if bugs %}
				<h4>{{ _("Open bugs") }}</h4>

				{% module BugsTable(pkg, bugs) %}
			{% end %}

			{% if build_times %}
				<h4>{{ _("Average build time") }}</h4>

				<table class="table table-striped table-hover">
					<tbody>
						{% for arch, build_time in build_times %}
							<tr>
								<td>
									<a href="/arch/{{ arch.name }}">{{ arch.name }}</a>
								</td>
								<td>{{ friendly_time(build_time) }}</td>
							</tr>
						{% end %}
					</tbody>
				</table>
			{% end %}
		</div>
	</div>
{% end block %}
