{% extends "base.html" %}

{% block title %}{{ _("Package") }} {{ pkg.name }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/packages">{{ _("Packages") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/package/{{ pkg.name }}">{{ pkg.name }}</a>
		</li>
	</ul>

	<div class="page-header">
		<div class="pull-right">
			<ul class="nav nav-pills">
				<li>
					<a href="/package/{{ pkg.name }}/builds/times">
						{{ _("Build times") }}
					</a>
				</li>
				<li>
					<a href="/package/{{ pkg.name }}/builds/scratch">
						{{ _("Scratch builds") }}
					</a>
				</li>
				<li>
					<a href="/package/{{ pkg.name }}/builds/test">
						{{ _("Test builds") }}
					</a>
				</li>
			</ul>
		</div>

		<h2>
			{{ pkg.name }}<br>
			<small>{{ pkg.summary }}</small>
		</h2>
	</div>

	<div class="row">
		<div class="span6">
			{% module PackageHeader(pkg) %}

			{% if bugs %}
				<br><hr>

				<h4>
					<div class="pull-right">
						<div class="btn-group">
							<a class="btn btn-mini" href="{{ bugtracker.enter_url(pkg.name) }}" target="_blank">
								<i class="icon-asterisk"></i> {{ _("File new bug") }}
							</a>
							<a class="btn btn-mini" href="{{ bugtracker.buglist_url(pkg.name) }}" target="_blank">
								{{ _("Show all bugs") }}
							</a>
						</div>
					</div>

					{{ _("Open bugs") }}
				</h4>
				{% module BugsTable(pkg, bugs) %}
			{% end %}
		</div>

		<div class="span6">
			{% module Changelog(builds=builds) %}

			<p class="ac">
				<a href="/package/{{ name }}/changelog">{{ _("Full changelog") }}</a>
			</p>
		</div>
	</div>
{% end block %}
