{% extends "base.html" %}

{% block title %}{{ _("Advanced search") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/search">{{ _("Search") }}</a>
		</li>
	</ul>

	{% if pattern %}
		<div class="page-header">
			<h1>{{ _("No results for '%s'.") % pattern }}</h1>
		</div>
	{% else %}
		<div class="page-header">
			<h1>{{ _("Advanced search") }}</h1>
		</div>

		<p class="lead ac">
			{{ _("Type a search pattern into the box below and hit the button.") }}
		</p>
	{% end %}

	<div class="row">
		<div class="span4 offset4">
			<form class="well ac" method="GET" action="/search">
				<div class="input-append">
					<input type="text" class="input-large" name="q" placeholder="{{ _("Search") }}"
						value="{{ pattern }}"><button type="submit" class="btn">{{ _("Go!") }}</button>
				</div>
			</form>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span12">
			<div class="well">
				<h3>{{ _("Search for packages by name or description") }}</h3>
				<p>
					{{ _("If you type a package name to the search box you will get a link to the package.") }}
					{{ _("The search is performed in case insensitive mode.") }}
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<div class="well">
				<h3>{{ _("Search for UUIDs") }}</h3>
				<p>
					{{ _("If you type a UUID to the search box, you will be directed to the job, build or package it belongs to.") }}
					{{ _("This is a handy feature if you have a UUID and search for the corresponding package or build.") }}
				</p>

				<h4>{{ _("Examples") }}</h4>
				<ul>
					<li>fde110ca-f7d9-4ae5-a6c4-1e465a05662a</li>
				</ul>
			</div>
		</div>

		<div class="span6">
			<div class="well">
				<h3>{{ _("Search for files") }}</h3>
				<p>
					{{ _("You may also search for file names.") }}
					{{ _("You will get a list of packages that contain the file.") }}
					{{ _("The search pattern must start with a slash that it will be recognized as a file.") }}
				</p>

				<h4>{{ _("Examples") }}</h4>
				<ul>
					<li>/bin/bash</li>
					<li>/usr/bin/gcc</li>
				</ul>
			</div>
		</div>
	</div>
{% end block %}
