{% extends "base.html" %}

{% block title %}{{ _("User list") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<a href="/users">{{ _("Users") }}</a>
		</li>
	</ul>

	<h1>{{ _("Users") }}</h1>
	<p>
		{{ _("On this page you can see a list of all users that are known to the system.") }}
	</p>

	{% if admins %}
		<h2>
			{{ _("Developers") }}
			<span>({{ len(admins) }})</span>
		</h2>
		{{ modules.UsersTable(admins) }}
	{% end %}

	{% if testers %}
		<h2>
			{{ _("Testers") }}
			<span>({{ len(testers) }})</span>
		</h2>
		{{ modules.UsersTable(testers) }}
	{% end %}

	{% if users %}
		<h2>
			{{ _("Users") }}
			<span>({{ len(admins) }})</span>
		</h2>
		{{ modules.UsersTable(users) }}
	{% end %}
{% end block %}
