{% extends "base.html" %}

{% block body %}
	<h1>{{ _("Edit user %s") % user.realname }}</h1>

	<form method="post" action="">
		{{ xsrf_form_html() }}
		<table class="form form3">
			<tr>
				<td class="col1">{{ _("Username") }}:</td>
				<td class="col2">{{ user.name }}</td>
				<td class="col3">{{ _("Cannot be changed.") }}</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Email") }}:</td>
				<td class="col2">
					<input name="email" type="text" length="100" value="{{ user.email }}" />
				</td>
				<td class="col3">
					{{ _("If the email address is changed, your account will be disabled until you reconfirm the new email address.") }}
				</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Real name (optional)") }}:</td>
				<td class="col2">
					<input name="realname" type="text" length="200" value="{{ user.realname }}" />
				</td>
				<td class="col3">
					{{ _("Your real name is used to identify you by others.") }}
				</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Password") }}:</td>
				<td class="col2">
					<input name="pass1" type="password" />
				</td>
				<td class="col3">
					{{ _("The password is used to secure the login and must be at least 8 characters.") }}
				</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Confirm") }}:</td>
				<td class="col2">
					<input name="pass2" type="password" />
				</td>
				<td class="col3">
					{{ _("Leave the password fields empty to keep the current password.") }}
				</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Preferred language") }}:</td>
				<td class="col2">
					<select name="locale">
						<option value="">{{ _("Auto-detect") }}</option>
						{% for l in supported_locales %}
							<option value="{{ l.code }}" {% if l.code == user.locale %}selected{% end %}>
								{{ l.name }}
							</option>
						{% end %}
					</select>
				</td>
				<td class="col3">{{ _("Auto-detect will use the language transmitted by your browser.") }}</td>
			</tr>
			<tr>
				<td class="col1">{{ _("Timezone") }}:</td>
				<td class="col2">
					<select name="timezone">
						{% for tz in supported_timezones %}
							<option value="{{ tz }}" {% if user.timezone.zone == tz %}selected{% end %}>{{ tz }}</option>
						{% end %}
					</select>
				</td>
				<td class="col3">{{ _("Auto-detect will use the language transmitted by your browser.") }}</td>
			</tr>

	{% if current_user.is_admin() and not current_user == user %}
		</table>

		<h2>{{ _("Admin actions") }}</h2>
		<table class="form form3">
			<tr>
				<td class="col1">{{ _("State") }}</td>
				<td class="col2">
					<select name="state">
						<option value="user">{{ _("User") }}</option>
						<option value="tester"
							{% if user.is_tester() %}selected{% end %}>
							{{ _("Tester") }}
						</option>
						<option value="admin"
							{% if user.is_admin() %}selected{% end %}>
							{{ _("Admin") }}
						</option>
					</select>
				</td>
				<td class="col3">
					{{ _("Define the permissions of the user.") }}
				</td>
			</tr>
		{% end %}
			<tr>
				<td colspan="3" class="buttons">
					<input type="submit" value="{{ _("Save") }}" />
				</td>
			</tr>
		</table>
	</form>
{% end block %}
