{% extends "base.html" %}

{% block title %}{{ _("Password changed") }}{% end block %}

{% block body %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{{ _("Home") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/users">{{ _("Users") }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/user/{{ escape(user.name) }}">{{ escape(user.realname) }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="/user/{{ escape(user.name) }}/passwd">{{ _("Change password") }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			{{ _("Done!") }}
		</li>
	</ul>

	<div class="page-header">
		<h1>{{ _("Password changed") }}</h1>
	</div>

	<div class="row">
		<div class="span6 offset3">
			<div class="well">
				{% if current_user == user %}
					<p>
						{{ _("Your password has successfully been changed.") }}
					</p>
				{% else %}
					<p>
						{{ _("The password of %s has successfully been changed.") % escape(user.realname) }}
					</p>
				{% end %}

				<div class="pull-right">
					<a class="btn btn-primary" href="/user/{{ escape(user.name) }}">{{ _("Ok") }}</a>
				</div>
			</div>
		</div>
	</div>
{% end %}
