<h2 style="word-wrap: break-word;">
	{% if shorter %}
		{{ pkg.name }}
	{% else %}
		{{ build.name }}
	{% end %}
	{% if pkg.critical_path %}
		<span class=" badge badge-danger float-md-right float-lg-right float-xl-right">{{ _("Critical path") }}</span>
	{% end %}
	{% if not short %}
		{% if build.type == "release" %}
			<span class=" badge badge-success float-md-right float-lg-right float-xl-right">{{ _("Release build") }}</span>
		{% elif build.type == "scratch" %}
			<span class="badge badge-secondary float-md-right float-lg-right float-xl-right">{{ _("Scratch build") }}</span>
		{% end %}
	{% end %}
	<br>
	<small>{{ pkg.summary }}</small>
</h2>