{% if dates %}
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<tbody>
				{% for date, builds in dates %}
					<tr>
						<td colspan="{{ colspan }}">
							<h4>
								{% module HeadingDate(date) %}
								<small>({{ len(builds) }})</small>
							</h4>
						</td>
					</tr>
					<tr>
						<th>{{ _("Build") }}</th>
						<th>{{ _("Jobs") }}</th>
						{% if show_repo %}
							<th>{{ _("Repository") }}</th>
						{% end %}
						{% if show_user %}
							<th>{{ _("User") }}</th>
						{% end %}
						{% if show_when %}
							<th>{{ _("Created") }}</th>
						{% end %}
						{% if show_repo_time %}
							<th>{{ _("In repository since") }}</th>
						{% end %}
						{% if show_can_move_forward %}
							<th>{{ _("Can be moved forward") }}</th>
						{% end %}
					</tr>

					{% for build in builds %}
						<tr>
							<td class="name">
								<a class="{% module BuildState(build.type, build.state) %}"
									href="/build/{{ build.uuid }}">
									{% if build.is_broken() %}
										<s>{{ build.name }}</s>
									{% else %}
										{{ build.name }}
									{% end %}
								</a>
							</td>

							<td>
								{% module JobsStatus(build) %}
							</td>

							{% if show_repo %}
								<td>
									{% if build.repo %}
										<a href="/distro/{{ build.distro.identifier }}">{{ build.distro.name }}</a> /
										<a href="/distro/{{ build.distro.identifier }}/repo/{{ build.repo.identifier }}">{{ build.repo.name }}</a>
									{% end %}
								</td>
							{% end %}

							{% if show_user %}
								{% if build.type == "scratch" and build.user %}
									<td>
										{% module LinkToUser(build.user) %}
									</td>
								{% elif build.type == "release" %}
									<td>{% module LinkToUser(build.pkg.maintainer) %}</td>
								{% else %}
									<td></td>
								{% end %}
							{% end %}

							{% if show_when %}
								<td>
									{{ format_date(build.created, relative=True) }}
								</td>
							{% end %}

							{% if show_repo_time %}
								<td>
									{{ format_date(build.repo_time, relative=False) }}
								</td>
							{% end %}

							{% if show_can_move_forward %}
								<td>
									{{ build.can_move_forward }}
								</td>
							{% end %}
						</tr>
					{% end %}
				{% end %}
			</tbody>
		</table>
	</div>
{% else %}
	<p class="text-muted">
		{{ _("There are no builds to show at this place right now.") }}
	</p>
{% end %}
