<form class="form-horizontal" method="POST" action="">
	{% raw xsrf_form_html() %}
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="offset">{{ _("Start time") }}</label>
			<div class="controls">
				<select name="offset" id="offset">
					<option value="0">{{ _("As soon as possible") }}</option>
					<option value="300">{{ _("After 5 minutes") }}</option>
					<option value="900">{{ _("After 15 minutes") }}</option>
					<option value="3600">{{ _("After one hour") }}</option>
					<option value="86400">{{ _("After one day") }}</option>
				</select>
			</div>

			<p class="help-block">
				{{ _("Set the time after which the build job starts.") }}
			</p>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ _("Schedule build") }}</button>
		</div>
	</fieldset>
</form>
