{% if build.state == "broken" %}
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="alert alert-danger" role="alert">
				<strong>{{ _("This build is broken!") }}</strong> <br>
				{{ _("This means that the package may cause severe damage on your system and/or does not work at all.") }}
			</div>
		</div>
	</div>
{% elif build.state == "obsolete" %}
	<div class="alert alert-warning" role="alert">
		<strong>{{ _("This build is obsolete!") }}</strong><br>
		{{ _("This means that this package has been replaced with a new one.") }}
	</div>
{% end %}
