<li class="media mt-3 mb-3">
	{% block body %}
		{% if u %}
			<!--<a class="pull-left hidden-phone" href="/user/{{ u.name }}">
				</a>
			-->
			<img class="mr-3" src="{{ u.gravatar_icon(96) }}" alt="{{ u.realname }}">
		{% end %}
		<div class="media-body">

			{% block title %}
				<p class="text-muted float-md-right float-lg-right float-xl-right">
					{% block extra-title %}{% end block %}
					{{ format_date(entry.time) }}
				</p>

				{% if entry.user %}
					<h4>
						{% if current_user == entry.user %}
							<a href="/profile">{{ _("You") }}</a>
						{% else %}
							<a href="/user/{{ entry.user.name }}">{{ entry.user.realname }}</a>
						{% end %}

						{% if show_build %}
							<small>-
								<a href="/build/{{ entry.build.uuid }}">{{ entry.build.name }}</a>
							</small>
						{% end %}
					</h4>
				{% end %}
			{% end block %}

			{% block message %}
				{% module Text(entry.get_message(current_user)) %}
			{% end block %}
		</div>
	{% end block %}
</li>
