{% extends "modal-base.html" %}

{% block id %}comment{% end block %}
{% block form_action %}/build/{{ build.uuid }}/comment{% end block %}

{% block title %}
	{% if current_user %}
		{{ _("Comment on %s") % build.name }}
	{% else %}
		{{ _("Log in to comment") }}
	{% end %}
{% end block %}

{% block body %}
	{% if current_user %}
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="cmttxt">{{ _("Comment") }}</label>
				<div class="controls">
					<textarea class="input-xlarge" id="cmttxt" name="text" rows="8"></textarea>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">{{ _("Vote") }}</label>
				<div class="controls">
					<label class="radio">
						<input type="radio" name="vote" id="vote1" value="option1" checked>
						{{ _("Not tested.") }}
					</label>
					<label class="radio">
						<input type="radio" name="vote" id="vote2" value="up">
						{{ _("Works for me.") }}
					</label>
					<label class="radio">
						<input type="radio" name="vote" id="vote3" value="down">
						{{ _("Does not work.") }}
					</label>
				</div>
			</div>
		</fieldset>
	{% else %}
		<p>
			{{ _("You need to log in to comment.") }}
			{{ _("Click on the button below to do so.") }}
		</p>
	{% end %}
{% end block %}

{% block footer %}
	{% if current_user %}
		<button type="submit" class="btn btn-primary">{{ _("Submit comment") }}</button>
	{% else %}
		<a class="btn btn-primary" href="/login">{{ _("Login") }}</a>
	{% end %}

	<a class="btn" href="#" data-dismiss="modal">{{ _("Cancel") }}</a>
{% end block %}
