<div class="lead lead-small ac">
	{% module Text(pkg.description) %}
</div>

<hr>

<dl class="dl-horizontal">
	{% if pkg.url %}
		<dt>{{ _("Home") }}</dt>
		<dd>{% raw linkify(pkg.url, shorten=True) %}</dd>
	{% end %}

	{% if pkg.license %}
		<dt>{{ _("License") }}</dt>
		<dd>{{ pkg.license }}</dd>
	{% end %}

	{% if pkg.groups %}
		<dt>{{ _("Group", "Groups", len(pkg.groups)) }}</dt>
		<dd>{{ locale.list(pkg.groups) }}</dd>
	{% end %}

	{% if pkg.maintainer %}
		<dt>{{ _("Maintainer") }}</dt>
		<dd>{% module Maintainer(pkg.maintainer) %}</dd>
	{% end %}
</dl>
