<table class="table table-striped table-hover">
	<tbody>
		{% for file in filelist %}
			<tr>
				<td>
					{{ format_filemode(file.type, file.mode) }}
				</td>
				<td>
					{{ file.user }}:{{ file.group }}
				</td>
				<td>
					{% if file.size is None %}
						-
					{% else %}
						{{ format_size(file.size) }}
					{% end %}
				</td>
				<td>
					{{ file.name }}
				</td>
				<td>
					<div class="btn-group">
						{% if file.viewable %}
							<a class="btn btn-mini" href="/package/{{ pkg.uuid }}/view{{ file.name }}">
								<i class="icon-file"></i>
							</a>
						{% end %}
						{% if file.downloadable %}
							<a class="btn btn-mini" href="/package/{{ pkg.uuid }}/download{{ file.name }}">
								<i class="icon-download"></i>
							</a>
						{% end %}
					</div>
				</td>
			</tr>
		{% end %}
	</tbody>
</table>
