<p class="lead">
	{% module Text(pkg.description) %}
</p>

<div class="table-responsive">
	<table class="table table-hover table-sm">
		<tbody>
			{% if pkg.url %}
				<tr>
					<th >{{ _("Home") }}</th>
					<td>{% raw linkify(pkg.url, shorten=True) %}</td>
				</tr>
			{% end %}
			{% if pkg.license %}
				<tr>
					<th >{{ _("License") }}</th>
					<td>{{ pkg.license }}</td>
				</tr>
			{% end %}

			{% if pkg.groups %}
				<tr>
					<th >{{ _("Group", "Groups", len(pkg.groups)) }}</th>
					<td>{{ locale.list(pkg.groups) }}</td>
				</tr>
			{% end %}

			{% if pkg.maintainer %}
				<tr>
					<th >{{ _("Maintainer") }}</th>
					<td>{% module LinkToUser(pkg.maintainer) %}</td>
				</tr>
			{% end %}

		</tbody>
	  </table>
</div>