<p>
	<a href="#watchers" data-toggle="modal">
		{% if current_user and current_user in watchers %}
			{% if len(watchers) == 1 %}
				{{ _("You.") }}
			{% elif len(watchers) == 2 %}
				{{ _("You and one other.") }}
			{% else %}
				{{ _("You and %s others.") % (len(watchers) - 1) }}
			{% end %}
		{% else %}
			{{ _("One person.", "%(num)s people.", len(watchers)) % { "num" : len(watchers) } }}
		{% end %}
	</a>
</p>

<div class="modal fade" id="watchers" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
	  	<div class="modal-content">
			<div class="modal-header">
				<h3 style="word-wrap: break-word;" class="modal-title" id="watchers">
						{{ _("Watchers of %s") % build.name }}
				</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					{{ _("All users who watch this build will be automatically notified about status changes and comments.") }}
					{{ _("This is an easy way of staying up to date.") }}
				</p>
				<hr/>

				{% if watchers %}
					<ul>
						{% if current_user and current_user in watchers %}
							<li>
								<strong>{{ _("You.") }}</strong>
							</li>
						{% end %}

						{% for watcher in [w for w in watchers if current_user and not w == current_user] %}
							<li>
								<a href="/user/{{ watcher.name }}">{{ watcher.realname }}</a>
							</li>
						{% end %}
					</ul>
				{% else %}
					<p>
						{{ _("Nobody watches this build, yet. Be the first one.") }}
					</p>
				{% end %}
			</div>

			<div class="modal-footer">
				<div class="float-right" style="width:100%">
					{% if current_user %}
						{% if not current_user in watchers %}
							<a class="btn btn-primary mb-2" href="/build/{{ build.uuid }}/watch">{{ _("Watch this build") }}</a>
						{% end %}
						{% if current_user.is_admin() %}
							<a class="btn btn-primary mb-2" href="/build/{{ build.uuid }}/watch">{{ _("Add a watcher") }}</a>
						{% end %}
					{% end %}
					<a class="btn mb-2" data-dismiss="modal">
						{{ _("Close") }}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
