<li class="media">
	<div class="media-body">
		<h4>
			<a href="/build/{{ build.uuid }}">{{ build.name }}</a>

			<small>
				{{ locale.format_date(build.created) }}

				{% if build.repo %}
					{% if build.repo.type == "stable" %}
						<span class="text-success pull-right">{{ _("Stable") }}</span>
					{% elif build.repo.type == "unstable" %}
						<span class="text-warning pull-right">{{ _("Unstable") }}</span>
					{% elif build.repo.type == "testing" %}
						<span class="text-error pull-right">{{ _("Testing") }}</span>
					{% end %}
				{% end %}
			</small>
		</h4>

		{% if build.commit %}
			{% module Text(build.commit.message_full, remove_linebreaks=False) %}

			<p class="muted pull-right">
				{{ _("Author") }} {% module Maintainer(build.commit.author) %}
				&dash;
				{{ _("Commit") }} <a href="/distro/{{ build.distro.identifier }}/source/{{ build.pkg.commit.source.identifier }}/{{ build.pkg.commit.revision }}">{{ build.pkg.commit.revision[:7] }}</a>
			</p>
		{% else %}
			<p class="muted">
				{{ _("No commit message.") }}
			</p>
		{% end %}
	</div>
</li>
