<li class="media">
	<div class="media-body">
		<div class="well">
			<h4>
				<a class="{% if build.is_broken() %}line-through{% end %}" href="/build/{{ build.uuid }}">{{ build.name }}</a>

				{% if build.repo %}
					<small class="pull-right">
						<a href="/distro/{{ build.repo.distro.identifier }}/repo/{{ build.repo.name }}">
							{{ build.repo.distro.name }} &dash;
							{% if build.repo.type == "stable" %}
								<span class="text-success">{{ build.repo.name }}</span>
							{% elif build.repo.type == "unstable" %}
								<span class="text-warning">{{ build.repo.name }}</span>
							{% elif build.repo.type == "testing" %}
								<span class="text-error">{{ build.repo.name }}</span>
							{% end %}
						</a>
					</small>
				{% end %}
			</h4>

			<hr>

			{% if build.commit %}
				{% module CommitMessage(build.commit) %}

				<hr>

				<p class="muted">
					{{ _("Author") }} {% module Maintainer(build.commit.author) %}
					&dash;
					{{ _("Commit") }} <a href="/distro/{{ build.distro.identifier }}/source/{{ build.pkg.commit.source.identifier }}/{{ build.pkg.commit.revision }}">{{ build.pkg.commit.revision[:7] }}</a>

					<span class="pull-right">{{ locale.format_date(build.created, shorter=True) }}</span>
				</p>
			{% else %}
				<p class="muted">
					{{ _("No commit message.") }}
					<span class="pull-right">{{ locale.format_date(build.created, shorter=True) }}</span>
				</p>
			{% end %}
		</div>
	</div>
</li>
